.border{
    border: 1px solid black;
}
.round{
    border: 1px solid #ccc;
    border-radius: 100%;
    width: 3%;
    text-align: center;
    font-size: 16px;
}
.box{
    border: 1px solid #ccc;
    border-radius: 20px;
}
.bbdd{
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    color: #999999;
}
.bbd{
    border-bottom: 1px solid #999999;
    color: #999999;
}
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    height: 60px;
    width: 60px;
}
.image-gallery-slide-wrapper{
    border: 1px solid #D4D4D4 !important;
    height: 420px !important;
    padding: 20px;
    justify-self: center;
}
.image-gallery-thumbnails{
    position: relative;
    padding: 30px 0;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus{
    border: 2px solid #fea00e;
}

.image-gallery-image{
    max-height: 380px !important;
}

.product-details-wrpr .image-slider{
    display: block;
}

.image-gallery-slide img {
    width: 100%;
    height: 600px;
}
