.react-multi-carousel-item{
    padding:0 5px !important;
}
.slot-wrapper {
    width: 100%;
}
.near-store {padding:12px 0px;}
.store-content .react-tabs__tab--selected {background: #F8D5A7 !important;}
.my-order-wr .react-tabs__tab--selected {background: #F8D5A7 !important;}
.my-order-wr .near-store {padding:12px 12px; margin:12px 0px;}

.store-voucher-wr .react-tabs__tab--selected{
    font-family: 'PoppinsRegular' !important;
    border-bottom: 2px solid #EE9621 !important;
    background: transparent !important;
    color: #EE9621 !important;
}

/* .no-qty {
    max-height: 400px!important;
    min-height: 400px!important
} */
/*.no-qty .action-button{
    bottom:-5px !important;
    position:absolute;
    margin-left: 45px !important;
}

.product-container .no-qty .action-button{
    bottom:-5px !important;
    position:absolute;
    margin-left: 25px !important;
}*/

.mt-30{
    /* margin-top: 30px; */
    margin-top: 8px;
}

.no-qty .offer_quote{
    top:180px !important;
}

.product-container .row{
    justify-content: normal;
}
.product-variation-text{
    /* border: 1px solid #ed9622;
    background-color: #ed9622; */
    border: 1px solid #000;
    background-color: #000;
    margin:0 4px 4px 0; padding: 0 4px;
    display: inline-block;
    border-radius: 4px; 
}

.product-variation-text .qty{
    color: #fff; display: block; margin: 0;
}
.product-more-details .size-an-all{
    text-align: center;
}

.inner-left-menu-w .btn-block{
    text-align: start;
    background-color: #fff;
    border: none;
    color:#fff;
}

.inner-left-menu-w .btn-block:hover{
    text-align: start;
    background-color: #EE9621;
    border: none;
    color:#fff;
}

.prodDetails-qty{
    margin-block-start: auto;
    margin-right: 10px;
}

button.nav-link, button.nav-link.active{
    border:none;
    background-color: #fff;
}

button:focus{
    outline: none;
}

.goog-te-banner-frame.skiptranslate{
    display: none !important;
}
body{
    top:0px !important;
}
#google_translate_element{ 
    overflow: hidden !important;
}
.goog-logo-link {
    display:none !important;
} 
    
.goog-te-gadget{
    margin-right: 0px; width: 165px;
}

.goog-te-gadget .goog-te-combo {
    width: 160px;
    margin: 4px 0;
    background-color: #F1F1F1;
    color: #484848;
    padding: 3px 10px;
    font-size: 14px;
    font-family: 'PoppinsRegular';
}
.skiptranslate{
    display: none;
}
 

.image-gallery-thumbnail .image-gallery-thumbnail-image{
    width: auto !important;
}

.wishlist-category {
    margin-right:5px;
    margin-bottom:5px;
    background-color:#F8D5A7;
    color:#000;
    display: inline-block;
    margin-left: 2px;
    border-radius: 4px;
    padding: 3px 8px;
    line-height: 20px;

}

.product-card label{
    text-decoration: none;
    font-size: 25px;
}

.suggestion-layer{
    background-color:#fff;
    padding:10px; border-radius: 4px;
    position: absolute; left: 0; width: 100%;
    z-index: 1; box-shadow: 0px 0px 6px #ddd;
    max-height: 500px;
    overflow-y: auto;
}

.suggestion-layer a{
    font-size: 14px;
    color: #5a5a5a;
    padding: 3px 5px;
    display: flex;
    font-family: 'Poppins-Reg';
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.i_day-picker-actions{
    display: none;
}
.modal{
    background: rgba(0, 0, 0, 0.5);
}
.no-background{
    background-color: transparent;
    border:none;
    color: #EE9623;
    float: right;
    font-weight: bold;
}
 
@media screen and (max-width: 640px){
    .goog-te-gadget .goog-te-combo { width: 145px;}
}
.text-required{
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.modalHeight{
    max-height: 640px;
    overflow-y: scroll;
}

.map{
    width: 100%; margin-top: 10px;
    height: 400px; position: relative;
}
.map-pointer{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.category-section .categories-wrapper .product-category{
    margin:5px !important;
}
.store-details-popular-category{
    height: 100px;
    object-fit: scale-down;
}


@media screen and (max-width: 576px){
    .react-multi-carousel-item { padding: 0 10px 0 0 !important; }
}
.finger-pointer{
    cursor: pointer;
}
.product-card .mt-cutoff{
    font-size: 10px;
}
.product-more-details .price-bar .price-content p span{
    font-size: 15px;
}

.my-order-body .active{
    background-color: #fdf4e9;
    box-shadow: 0 2px 13px #cacaca;
}
.product-review .stock-card,.product-review .toal-order{
    padding: 10px;
}
.suggestion-layer a .search-text {
    font-size: 12px;
    color: #BDBDBD;
}
.suggestion-layer a span.search-title img {
    margin-top: -5px;
    margin-right: 15px;
}