.main-sidebar {
    height: 100vh;
    overflow-y: hidden;
    z-index: 1038;
}

.content-wrapper>.content {
    padding: 0 .5rem;
}

.main-footer {
    background: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: 1rem;
}