.c-s-checkbox:hover { color: #ffa800;}
.c-s-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 15px 0;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; color: #7A7A7A;
    user-select: none;font-family: "PoppinsRegular";
  }
  
  /* Hide the browser's default checkbox */
  .c-s-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    border:1px solid #eee;
    border-radius: 4px; 
  }
  
  /* On mouse-over, add a grey background color */
  .c-s-checkbox:hover input ~ .checkmark {
    background-color: #fff;
    border: 1px solid #ffa800;
  }
  
  /* When the checkbox is checked, add a blue background */
  .c-s-checkbox input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .c-s-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .c-s-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #EE9621;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .chkbx{ display: inline-block; padding: 3px 0;}
  .chkbx .checkmark{ border: 1px solid #C4C4C4; }
  .chkbx .c-s-checkbox{ margin: 0; }
  .chkbx .c-s-checkbox .checkmark:after {
  left: 8px; top: 3px; width: 6px; height: 12px; border-width: 0 1.5px 1.5px 0;}
  .chkbx .all-check{ margin-left: 35px;}

  /* toggle switch */
  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* checked radio on slot */

/* HIDE RADIO */
.schedule-slot [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.schedule-slot [type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
 
.schedule-slot [type=radio]:checked + .sch-slot-slct {
  border: 2px solid #0C88FA;
}


/* HIDE RADIO */
.nearby-srch [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.nearby-srch [type=radio] + .names {
  cursor: pointer;
}

/* CHECKED STYLES */
.nearby-srch [type=radio]:checked + .names {
  outline: none;
  background: #ee962138;
  color: #EE9623;
}