.floatArea { 
  position:relative;
   
}
  
.placeHolder {
  padding:2px;
  pointer-events: none;
  position:absolute;
  left:0;
  top:0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
       -o-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:0.5;
}

input {
  padding:10px;
}

.floatArea input:focus + span, .floatArea input:not(:placeholder-shown) + span {
  opacity: 1;
  color: #ff9200!important;
  -webkit-transform: scale(0.75) translateY(-154%) translateX(-18%);
      -ms-transform: scale(0.75) translateY(-154%) translateX(-18%);
          transform: scale(0.75) translateY(-154%) translateX(-18%);
  background: #fff;
  font-size: 18px!important; top: 22px!important;
  padding: 4px;
}


/* For IE Browsers*/
.floatArea input:focus + span, .floatArea input:not(:-ms-input-placeholder) + span {
  opacity:1;
  -ms-transform: scale(0.75) translateY(-100%) translateX(-30px);
      transform: scale(0.75) translateY(-100%) translateX(-30px);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance:window;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
/* custom select */