/*Extra small device (XS-More refine)*/

@media (min-width: 480px) {}

/*Extra small device (XS)*/

@media (min-width: 768px) {}

/*Small device (SD)*/

@media (min-width: 992px) {}

/*Medium device (MD)*/

@media (min-width: 1200px) {}

/*.visible-xs
.visible-sm
.visible-md
.visible-lg
.hidden-xs
.hidden-sm
.hidden-md
.hidden-lg*/

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 567px) {}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1600px) {}

@media only screen and (min-width: 1920px) {}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1680px) {
    /* .container {
        max-width: 90%;
    } */
    .top_header .main_top .form-section {
        width: 580px;
    }
    .top_header .main_top .form-section .form-control {
        width: 278px;
    }
    .login-signup .navbar-nav .signup {
        margin-right: 10px;
    }
    .exclusiveOffer .offer-item.bg_gray {
        padding-left: 42%;
        background-size: 200px;
    }
    .exclusiveOffer .offer-item.bg_pink {
        background-size: 220px;
        padding-right: 40%;
    }
    .exclusiveOffer .offer-item.bg_blue {
        background-size: 200px;
        padding-right: 44%;
    }
    .exclusiveOffer .offer-item .icontent h1 {
        font-size: 30px;
    }
    .mall-cat-wr .owl-carousel .owl-item {
        width: 233px!important;
    }
    .exclusiveOffer .owl-carousel .owl-item {
        width: 473px!important;
    }
}

@media only screen and (max-width: 1600px) {
    .gamezone_wrapper .gaming-console {
        background-size: 300px;
    }
    .gamezone_wrapper .peper-area {
        background-size: 330px;
    }
    .search-result-item .text-result .title_bar {
        font-size: 14px;
    }
    .exclusiveOffer .offer-item.bg_gray, .exclusiveOffer .offer-item.bg_blue {
        background-size: 165px;
    }
    .cart-card .offerbox .content .view-details {
        margin-top: 0;
    }
    .productlisting_main .freshfruit .leftdiv h1 {
        font-size: 24px;
    }
    .productlisting_main .freshfruit .leftdiv {
        max-width: 30%;
    }
    .productlisting_main .freshfruit .rightdiv .form-control {
        width: 140px;
        height: 40px;
    }
    .productlisting_main .freshfruit .leftdiv p {
        font-size: 12px;
    }
    .nearby-srch {
        padding: 3px;
    }
}

@media only screen and (max-width: 1500px) {
    .mall-cat-wr .owl-carousel .owl-item {
        width: 206px!important;
    }
    .exclusiveOffer .owl-carousel .owl-item {
        width: 417px!important;
    }
    .dbF-content .product-m-c {
        margin-left: 40px;
    }
}

@media only screen and (max-width: 1480px) {
    .exclusiveOffer .owl-carousel .owl-item {
        width: 400px!important;
    }
    .pagination-product .pagination .page-item a {
        padding: 6px 16px;
    }
    .collable-contents .price-tag-wpr .sub-price {
        min-width: 175px;
    }
}

@media only screen and (max-width: 1400px) {
    .header-bottom .category_header .search-input {
        width: 360px;
        height: auto;
    }
    .header-bottom .category_header .cart-section .nav-item a.cart {
        font-size: 16px;
    }
    .header-bottom .category_header .home_nav .nav-item {
        padding: 0 4px;
    }
    .product-card .action-button .add-to-cart-btn, .product-card .action-button .shop-now-btn {
        font-size: 12px;
        padding: 0 14px;
        height: 36px;
        line-height: 36px;
    }
    /* .product-card .favorite_button {
        width: 25px;
        height: 25px;
        right: 5px;
        top: 6px;
    }
    .product-card .favorite_button i {
        font-size: 15px;
    } */
    .product-card .card-title {
        font-size: 14px;
        margin: 0px;
    }
    .product-card .offer_quote {
        font-size: 13px;
    }
    .product-card .qty {
        font-size: 12px;
    }
    .product-card .offer-area {
        padding: 5px 10px;
    }
    .category-section .categories-wrapper .product-category .inner_category .image-product {
        height: 80px;
    }
    .gamezone_wrapper .gaming-console {
        background-size: 240px;
    }
    .gamezone_wrapper .peper-area {
        background-size: 290px;
    }
    .gamezone_wrapper .gaming-console h1, .gamezone_wrapper .peper-area h1 {
        font-size: 30px;
    }
    .news_letter .signup_portion p {
        font-size: 24px;
    }
    .dbF-content .product-m-c {
        margin-left: 0;
    }
    .product-details-wrpr .store-content .nav .nav-item .nav-link {
        padding: 12px 6px;
        white-space: pre;
    }
    .seller-product .stock-card .discount-problem {
        padding: 10px;
        font-size: 18px;
    }
    .seller-product .stock-card .discount-problem .market-price {
        font-size: 20px;
    }
    .shipment-inner .choose-delivery-opt {
        margin-bottom: 10px;
    }
    .schedule-slot .sch-slot-slct h2 {
        font-size: 16px;
        margin-bottom: 6px;
    }
    .schedule-slot .sch-slot-slct {
        padding: 10px;
    }
    .schedule-slot .sch-slot-slct h3 {
        font-size: 14px;
        margin: 5px 0px;
    }
    .schedule-slot .sch-slot-slct p {
        font-size: 13px;
    }
    .shipment-inner .schedule-slot {
        margin: 8px 0;
    }
    .shipment-inner .row {
        margin: 0 -8px;
    }
    .shipment-inner .equal {
        padding: 0 8px;
    }
    .slect-time-slot-wr .btn-delivery {
        font-size: 14px;
        padding-left: 45px;
        background-size: 20px;
    }
    .shipment-inner {
        padding: 20px
    }
    .billing-section .Ship-Bill {
        margin-bottom: 10px;
    }
    .billing-section .address-1 {
        font-size: 16px;
    }
    .billing-section .buyer-address {
        margin: 20px 0;
    }
    .billing-section .buyer-address .edit {
        width: 40px;
        height: 40px;
    }
    .billing-section .buyer-address .edit i {
        font-size: 18px;
    }
    .billing-section .buyer-address p {
        font-size: 16px;
        margin: 0px 0;
    }
    .billing-section .Ship-Bill {
        font-size: 16px;
    }
    .billing-section .sb-total p {
        font-size: 16px;
    }
    .billing-section .net-price {
        margin: 25px 0;
    }
    .billing-section .checkout {
        height: 52px;
    }
    .product-card .priceTag {
        font-size: 14px;
    }
    .cart_new {
        font-size: 14px;
    }
    .download-app-container {
        /* padding: 30px 0 120px; */
    }
    .download-app-container .download-content h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .header-bottom .category_header .search-input .form-control {
        height: 42px;
        background-size: 16px;
        padding-left: 40px;
    }
    .order-preap-section .card-delivery-slot {
        padding: 15px;
    }
    .order-preap-section .card-delivery-slot .credit-card-details {
        font-size: 18px;
    }
    .order-preap-section .card-delivery-slot .money-to-pay {
        font-size: 20px;
    }
    .order-preap-section .book-slot .dv-slot {
        font-size: 16px;
    }
    .order-preap-section .book-slot .dv-date {
        font-size: 16px;
    }
    .order-preap-section .book-slot .dv-muti-order {
        font-size: 16px;
    }
    .order-preap-section .social-wrapd a {
        font-size: 16px;
        text-align: center;
        padding: 14px;
        height: 50px;
    }
    .order-preap-section .social-wrapd a img {
        width: 20px;
        margin-right: 8px;
    }
    .product-review {
        margin-top: 20px;
    }
    .product-review .stock-card {
        margin: 0;
    }
    .product-review .stock-card .content-sect .st-name {
        font-size: 16px;
        margin: 0;
    }
    .product-review .stock-card .content-sect .s-dc {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .product-review .toal-order .order-items .b-items {
        font-size: 14px;
    }
    .product-review .toal-order .order-items .nrmal-items {
        font-size: 14px;
    }
    .product-review .stock-card .img-sect {
        height: 85px;
    }
    .my-order-wr .my-order-body .order-items.my-wishlist .btn-addcart {
        font-size: 16px;
    }
    .product-more-details .price-bar .price-content p {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1368px) {
    .main-up-arrow a {
        bottom: 50px;
    }
    .main-up-arrow.scroll a {
        bottom: 500px;
    }
    .mall-cat-wr .owl-carousel .owl-item {
        width: 206px!important;
    }
    .exclusiveOffer .owl-carousel .owl-item {
        width: 370px!important;
    }
    .total-cart-div {
        padding: 10px 30px;
    }
    .total-cart-div .total-selected {
        font-size: 20px;
    }
    .cart-card .img-section .content-wrapper .title {
        font-size: 16px;
    }
    .cart-card .incrementbox .result {
        font-size: 14px;
    }
    .cart-card .offerbox .content .cont-head {
        font-size: 12px;
    }
    .cart-card .price-mark .price {
        font-size: 14px;
    }
    .cart-card .price-mark .less-percent {
        font-size: 16px;
    }
    .cart-card .order-summary {
        font-size: 16px;
        margin-bottom: 24px;
    }
    .cart-card .cart-total p {
        font-size: 14px;
    }
    .cart-card .cart-total {
        margin-bottom: 15px;
    }
    .cart-card .cart-total span {
        font-size: 15px;
    }
    .cart-card .cupon-wr .apply-code {
        width: 85px;
        height: 38px;
    }
    .cart-card .cupon-wr .form-control {
        font-size: 14px;
        width: calc( 100% - 95px);
    }
    .cart-card .total-price p {
        font-size: 16px;
    }
    .cart-card .checkout {
        font-size: 16px;
        height: 46px;
    }
    .billing-section .form-wrapper .btn-apply {
        width: 75px;
        height: 40px;
    }
    .billing-section .form-wrapper .form-control {
        width: calc( 100% - 85px);
    }
    .category-section .header-title {
        font-size: 22px;
    }
    .category-section .categories-wrapper {
        margin-top: 10px;
    }
    /* .product-card .product-image {
        height: 130px;
    } */
    .news_letter .news-letterform .input-withButton .search_button {
        width: 130px;
        height: 52px;
    }
    .news_letter .signup_portion {
        margin-top: 4px;
    }
    .news_letter {
        padding: 14px;
    }
    .footer-wrapper .footer-item .nav h2 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .footer-wrapper .footer-item .nav .nav-item {
        padding: 3px 0;
    }
    .footer-wrapper .footer-item .nav .nav-item .nav-link {
        font-size: 14px;
    }
    .food-description-wr .description-inner .product-details h2 {
        font-size: 20px;
        margin-bottom: 0;
    }
    .product-details-wrpr .store-content .nav .nav-item {
        padding: 6px;
    }
    .product-more-details .price-bar .price-content h2 {
        font-size: 20px;
        margin-bottom: 6px;
    }
    .product-more-details .price-estimate {
        padding: 10px;
    }
    .product-more-details .size-an-all .size-item p {
        margin: 0px 0 3px;
        font-size: 14px;
    }
    .review-tabs .nav .nav-link {
        padding: 16px;
    }
    .review-tabs .rating-section .reiew-contaier .content-left .review_count {
        font-size: 24px;
    }
    .rating .star-yellow, .rating .star-gray {
        font-size: 20px;
    }
    .reiew-contaier .content-right .bar .rating-progressbar .progress {
        height: 8px;
    }
    .inner-review-container .product-r-wr .title-wr {
        margin-bottom: 16px;
    }
    .my-order-wr .my-order-body .show-price .custom-select {
        height: 40px;
    }
    .shipment-wr .top-header {
        padding: 8px 16px;
    }
}

@media only screen and (max-width: 1280px) {
    .container {
        max-width: 100%;
        padding: 0;
    }
    .body-block {
        padding: 0;
    }
    .mall-cat-wr .owl-carousel .owl-item {
        width: 185px!important;
    }
    .mall-cat-wr .card .icon {
        height: 100px;
    }
    .exclusiveOffer .owl-carousel .owl-item {
        width: 336px!important;
    }
    .exclusiveOffer .offer-item {
        height: 185px;
    }
    .exclusiveOffer .offer-item.bg_pink {
        background-size: 170px;
        padding-right: 130px;
    }
    .exclusiveOffer .offer-item.bg_gray {
        background-size: 130px;
        padding-left: 140px;
    }
    .exclusiveOffer .offer-item.bg_blue {
        background-size: 120px;
        padding-right: 130px;
    }
    .exclusiveOffer .offer-item .icontent h1 {
        font-size: 26px;
    }
    .exclusiveOffer .offer-item .icontent h5 {
        font-size: 16px;
    }
    .exclusiveOffer .offer-item .icontent a {
        font-size: 14px;
    }
    .product-details-wrpr .store-content .nav .nav-item .nav-link {
        padding: 12px 0px;
    }
    .stock-card .stock_button-action button {
        min-width: 175px;
        font-size: 20px;
        height: auto;
    }
    .stock-card .content-sect .st-name {
        font-size: 16px;
    }
    .stock-card .content-sect .price {
        font-size: 16px;
    }
    .stock-card .content-sect .s-dc, .stock-card .content-sect .sdatet-desc {
        font-size: 14px;
    }
    .collable-contents .price-tag-wpr .sub-title {
        font-size: 18px;
    }
    .collable-contents .price-tag-wpr .sub-price {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1200px) {
    .header-bottom .category_header .search-input {
        width: 250px;
        height: 40px;
    }
    .header-bottom .category_header .search-input .form-control {
        height: 40px;
        background-size: 18px;
    }
    .top_header .main_top .form-section .btn-search {
        width: 80px;
    }
    .top_header .main_top .form-section {
        width: 490px;
    }
    .top_header .main_top .form-section .collection-btn {
        width: 130px;
    }
    .product-container .row .col-lg-3 {
        flex: 0 0 33%;
        max-width: 33%;
        display: flex;
    }
    .product-card .action-button .add-to-cart-btn, .product-card .action-button .shop-now-btn {
        margin: 0;
        margin-bottom: 10px;
    }
    .product-card .action-button .shop-now-btn {
        margin: 0;
    }
    .custom_margin {
        margin-bottom: 30px;
    }
    .category-section .categories-wrapper .product-category {
        width: 20%;
    }
    .mall-cat-wr .owl-carousel .owl-item {
        width: 200px!important;
    }
    .gamezone_wrapper .gaming-console {
        background-size: 75%;
        background-position: center 20px;
    }
    .gamezone_wrapper .peper-area {
        background-size: 60%;
        background-position: center 20px;
    }
    .exclusiveOffer .owl-carousel .owl-item {
        width: 325px!important;
    }
    .productlisting_main .freshfruit .leftdiv h1 {
        font-size: 22px;
        margin-bottom: 6px;
    }
    .product-details-wrpr .mySlides {
        margin-left: 20px;
    }
    .product-details-wrpr .col-lg-6 {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 40px;
    }
    .my-mart-signup-wr .sinup-container {
        width: 95%;
    }
    .dbF-content .product-m-c {
        margin-left: 0px;
    }
    .cart-card .col-lg-7 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .cart-card .col-lg-3 {
        flex: 0 0 70%;
        max-width: 70%;
    }
    .cart-card .col-lg-2 {
        flex: 0 0 30%;
        max-width: 30%;
    }
    .cart-card .price-mark {
        margin-left: 167px;
        margin-right: 0;
        max-width: 50%;
    }
    .cart-card .quantity-box p {
        margin-top: 15px;
    }
    .cart-card .cupon-wr .apply-code {
        width: 72px;
        height: 36px;
    }
    .cart-card .cupon-wr .form-control {
        width: calc( 100% - 82px);
    }
}

@media only screen and (max-width: 1100px) {
    .header-bottom .category_header .home_nav .nav-item .nav-link, .header-bottom .category_header .navbar-brand {
        font-size: 13px;
    }
    .header-bottom .category_header .cart-section .nav-item a.cart {
        font-size: 18px;
    }
    .top_header .main_top .form-section {
        width: 365px;
    }
    .top_header .main_top .form-section .collection-btn {
        width: 100px;
    }
    .top_header .main_top .form-section .collection-btn::after {
        content: '';
        right: 0;
    }
    .top_header .main_top .form-section .form-inline {
        flex-flow: row;
    }
    .top_header .main_top .form-section .form-control {
        width: 100%;
    }
    .news_letter .news-letterform .input-withButton .search_button {
        height: 40px;
    }
    .news_letter .signup_portion p {
        font-size: 24px;
    }
    .footer-wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer-wrapper .footer-item {
        width: 20%;
    }
    .news_letter .signup_portion img {
        width: 45px;
    }
    .stock_button-action.seller-product .sku-form {
        width: 200px;
        margin-left: 10px;
    }
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {
    .mobile-notification-bar .cart-section {
        flex-direction: revert;
        align-items: center;
    }
    .cart-section .moreccatview {
        display: block !important;
        margin-left: 25px;
        cursor: pointer;
        color: #747987;
        margin-bottom: -3px;
        font-size: 20px;
    }
    .category-tabs-section .right-tabs, .category-tabs-section .react-tabs .left-tabs {
        height: 82vh;
    }
    .category-tabs-section .react-tabs>.row {
        margin-right: 0;
    }
    .category-page-main {
        margin-top: 55px;
    }
    .footer-section {
        display: none;
    }
    .main-up-arrow a {
        bottom: 110px;
    }
    .map {
        height: 280px!important;
    }
    .top_header .main_top .logo {
        max-width: 160px;
    }
    .header-bottom .category_header .smallview {
        flex: 1;
    }
    .header-bottom .category_header .cart-section .nav-item {
        margin: 0;
        margin-left: 15px;
    }
    .login-signup {
        width: 185px;
    }
    .login-signup .circl span {
        padding: 8px 10px;
    }
    .product-container .row .col-lg-3 {
        flex: 0 0 50%;
        max-width: 50%;
        display: inherit;
    }
    .top_header .main_top .form-section {
        height: auto;
        width: 320px;
    }
    .top_header .main_top .form-section .btn-search {
        height: 40px;
    }
    .login-signup .navbar-nav .signup .nav-link {
        font-size: 12px;
    }
    .category_header .cart-section {
        flex-direction: row;
    }
    .download-app-container .download-content {
        width: 90%;
    }
    .news_letter .signup_portion p {
        font-size: 24px;
        margin-left: 15px;
    }
    .header-section .top_header {
        position: relative;
    }
    /* .top_header .main_top{ position: absolute;} */
    .header-bottom .category_header .search-input {
        width: 100%;
    }
    .mod_main_width {
        max-width: 95%;
        margin: 1.75rem auto;
    }
    .mod_main_width .modal-content {
        background-color: rgb(0, 0, 0, 0.8);
        border-radius: 10px;
    }
    .mod_main_width .close {
        color: #fff;
    }
    .mod_main_width .home_nav {
        color: #fff;
        margin-top: 20px;
    }
    .mod_main_width .modal-body {
        position: relative;
        text-align: center;
    }
    .mod_main_width .modal-body .logo {
        background: #fff;
        position: relative;
        padding: 10px;
        border-radius: 4px;
    }
    .mod_main_width .modal-body .logo .close {
        position: absolute;
        right: 10px;
        top: 4px;
        color: #ff8405;
        font-size: 40px;
        opacity: 1;
        line-height: 30px;
    }
    .mod_main_width .modal-body .logo .close:focus {
        outline: none;
    }
    .mod_main_width .home_nav .nav-link a {
        color: #fff;
        margin: 0;
        font-size: 16px;
    }
    .mod_main_width .home_nav .nav-link a>img {
        display: none;
    }
    .header-bottom .category_header .toggle_button {
        position: absolute;
        left: 10px;
    }
    .header-bottom .category_header .toggle_button:focus {
        box-shadow: none;
    }
    .productlisting_main .leftPannel {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .productlisting_main .searchView {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .productlisting_main .list_left_bg .product-cat-section .prod-list .min_max {
        width: auto;
    }
    .productlisting_main .list_left_bg .product-cat-section .prod-list .min_max_wr .minus {
        min-width: 20px;
        text-align: center;
    }
    .signup_wraper .signup-form {
        width: 85%;
    }
    .freq-bought-wrapper .bought-section {
        max-width: 40%;
        flex: 0 0 40%;
        margin-bottom: 50px;
    }
    .review-tabs .nav .nav-link {
        padding: 20px 10px;
        font-size: 14px;
    }
    .review-tabs .rating-section .reiew-contaier {
        flex-direction: column;
    }
    .review-tabs .rating-section .reiew-contaier .content-right {
        max-width: 100%;
    }
    .review-tabs .rating-section .reiew-contaier .content-left {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
    .my-mart-signup-wr .sinup-container {
        width: 100%;
    }
    .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group.other-login-method .signup_with_facebook, .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group.other-login-method .signup_with_g_plus {
        font-size: 16px;
        padding-left: 78px;
        background-position: 15px center;
    }
    .header-bottom .category_header .cart-section .nav-item {
        width: 75px;
    }
    .dbF-content .left-menu {
        margin-bottom: 30px;
        padding: 0;
    }
    .dbF-content .col-lg-9 {
        padding: 0;
    }
    .dbF-content .left-menu .nav {
        flex-direction: row;
    }
    .dbF-content .left-menu .nav .nav-item {
        width: 33%;
        flex-grow: 1;
    }
    .dbF-content .left-menu .nav .sub-nav {
        padding: 2px 30px;
    }
    .stock-card .stock_button-action button {
        min-width: 175px;
        height: 50px;
        font-size: 20px;
    }
    .stock-card .content-sect .sdatet-desc {
        font-size: 16px;
    }
    .collable-contents .price-tag-wpr .sub-title {
        font-size: 20px;
    }
    .collable-contents .price-tag-wpr .sub-price {
        padding: 6px 20px;
        font-size: 18px;
    }
    .collable-contents .date-pick-epr .form-group label {
        font-size: 18px;
    }
    .collable-contents .price-tag-wpr .sub-title {
        font-size: 18px;
    }
    .collable-contents .price-tag-wpr .margin-money {
        font-size: 20px;
    }
    .collable-contents .date-pick-epr .form-group {
        width: 47%;
    }
    .stock-card .stock_button-action {
        padding: 20px;
        padding-top: 0;
    }
    .stock-card .card-f-dealer {
        padding: 20px;
    }
    .market-details .nav-item.brand-img {
        width: 70px;
        margin-right: 20px;
    }
    .market-details .nav-item .nav-link {
        margin-right: 8px;
        width: 115px;
        height: 36px;
        font-size: 14px;
        padding: 6px 5px;
    }
    .voucher-wr .items {
        min-height: 157px;
    }
    .searchView .category-section .categories-wrapper .product-category {
        width: 33.333%;
    }
    .cart-block .cart-block-content {
        padding: 30px;
    }
    .cart-block-content .nav .nav-item .line-space {
        margin: 0 15px;
    }
    .cart-block-content .nav .nav-item {
        font-size: 16px;
    }
    .cart-block-content .cart-items-content .nav .nav-item {
        font-size: 14px;
    }
    .shipment-inner .ship-image {
        min-height: 90px;
    }
    .gamezone_wrapper .gaming-console .in-content0 {
        padding: 0px 40% 53px 20px;
    }
    .gamezone_wrapper .peper-area .in-content0 {
        padding: 0px 20px 53px 40%;
    }
    .gamezone_wrapper .peper-area p h2, .gamezone_wrapper .gaming-console h2 {
        font-size: 26px;
        margin-bottom: 14px;
    }
    .shipment-inner {
        padding: 10px;
    }
    .billing-section .Ship-Bill {
        margin: 0;
    }
    .billing-section .buyer-name {
        font-size: 16px;
    }
    .cart-card .cart-total span {
        font-size: 14px;
    }
    .cart-card .checkout {
        font-size: 14px;
    }
    .cart-card .cart-total {
        margin-bottom: 8px;
    }
    .cart-card .price-mark {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cart-card .col-lg-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .cart-card .col-lg-2 {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .cart-card .price-mark .price {
        margin: 0;
    }
    .shipment-wr .top-header .check-form .form-check:first-child {
        margin-right: 20px;
    }
    .top_header .main_top .modal-dialog {
        max-width: 95%;
        margin: 16px auto;
    }
    .grocery-banner-right .header-progress-bar {
        display: block;
        width: 100%;
        background-color: #EEEEEE;
        padding: 15px 25px;
    }
    .grocery-banner-bottom>p {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 800px) {
    .stock-card .img-sect {
        width: 230px;
    }
    .stock-card .card-f-dealer .left-conte-card .content-sect .name-div {
        flex-direction: column;
    }
    .stock-card .card-f-dealer .left-conte-card .content-sect .fruit-stock, .stock-card .card-f-dealer .left-conte-card .content-sect .desc-barcode {
        flex-direction: column-reverse;
    }
    .productlisting_main .freshfruit {
        flex-wrap: wrap;
    }
    .productlisting_main .freshfruit .leftdiv {
        width: 100%;
        margin-bottom: 16px;
        flex-grow: 1;
        max-width: 100%;
    }
    .new-category-section .tabs_left .nav-link {
        font-size: 14px;
        line-height: 16px;
        padding: 2px;
    }
    .new-category-section .tabs_left .react-tabs__tab {
        margin: 2px;
    }
    .new-category-section .tabs_left .nav-link img {
        margin-bottom: 5px;
        width: 35px;
        object-fit: contain;
        height: 35px;
    }
    .new-category-section .tab-details .toggle-tab-body .sing-items img {
        width: 50px;
    }
    .new-category-section .tab-details .toggle-tab-body .sing-items p {
        font-size: 14px;
        margin-top: 5px;
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
    .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group.other-login-method .signup_with_facebook, .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group.other-login-method .signup_with_g_plus {
        font-size: 18px;
        padding-left: 110px;
        background-position: 28px center;
    }
    .top_header .main_top .logo {
        max-width: 210px;
    }
    .top_header .main_top .form-section {
        width: 100%;
        margin: 5px 0 15px;
    }
    .top_header .main_top .form-section .form-inline {
        flex: 1;
    }
    .custom_margin-2 {
        margin-bottom: 30px;
    }
    .news_letter .signup_portion {
        margin: 0;
        margin-bottom: 20px;
    }
    .all_music_player .mp_content .ofr-setion {
        width: 90%;
    }
    .all_music_player .mp_content .ofr-setion h3 {
        font-size: 30px;
    }
    .top_header .main_top .address-bar {
        margin-left: inherit;
        width: 45%;
    }
    .container {
        max-width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .category-section .categories-wrapper .product-category {
        width: 25%;
        height: 180px;
    }
    .category-section .categories-wrapper .product-category .inner_category .image-product {
        height: 110px;
    }
    .gamezone_wrapper .gaming-console {
        margin-top: 30px;
    }
    .header-section .miniView {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 0;
    }
    .header-section .miniView .main_top .logo {
        display: none;
    }
    .top_header .main_top .address-bar .search-location {
        width: 100%;
        border-radius: 6px;
        border: 1px solid #e6e6e6;
    }
    .header-section .top_header {
        margin-top: 10px;
    }
    .productlisting_main .freshfruit .rightdiv .form-control {
        width: 160px;
    }
    .mall-cat-wr .owl-carousel .owl-stage {
        width: 2700px!important;
    }
    .market-details .nav-item.follow .nav-link {
        padding: 8px 5px;
    }
    .market-details .nav-item .nav-link img {
        display: block;
        margin: auto;
    }
    .market-details .nav-item.brand-img {
        margin: auto;
    }
    .market-details .nav-item .nav-link {
        margin-right: 8px;
        width: 75px;
        height: auto;
        font-size: 12px;
        padding: 5px 5px;
    }
    /* .cart-card .img-section { flex-direction: column; } */
    .cart-card .img-section .content-wrapper {
        width: 100%;
        margin-left: 0;
        margin-top: 0px;
    }
    .cart-card .price-mark {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
    .cart-card .col-lg-3, .cart-card .col-lg-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .cart-card .img-section .image-content {
        width: 110px;
        margin: 0 10px 0 0;
        padding: 0;
    }
    .cart-card .img-section .image-content img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .cart-card .img-section .chkbx .c-s-checkbox {
        padding-left: 20px;
    }
    .cart-card .img-section .chkbx .checkmark {
        width: 15px;
        margin-top: 4px;
        height: 15px;
    }
    .productlisting_main .searchView .only-cat-view {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .custom-mb-mobile {
        margin-top: 16px;
    }
    .addressbook-wr .address-section h1 {
        margin-bottom: 10px;
    }
    .addressbook-wr .address-section h1.sv-adres-head {
        margin: 16px 0;
    }
    .address-section {
        padding: 5px 10px;
    }
    .address-section .form-group .input-heading {
        font-size: 16px;
    }
    .address-section .form-control {
        height: 42px;
        font-size: 14px;
    }
    .address-section .schedule-slot .sch-slot-slct {
        padding: 8px;
        text-align: center;
    }
    .btn-signup {
        padding: 10px 25px;
        font-size: 16px;
    }
    .delv-slt-wr .prod-section .pdt-image {
        width: 40px;
        margin-right: 5px;
    }
    .delv-slt-wr .prod-section .pdt-content {
        width: calc( 100% - 45px);
    }
    .delv-slt-wr .col-2 {
        padding-left: 0;
    }
    .delv-slt-wr .prod-section .pdt-content .pdt-name {
        -webkit-line-clamp: 3;
        font-size: 12px;
    }
    .delv-slt-wr .prod-section .mtlp-qty {
        font-size: 12px;
        margin-top: 5px;
    }
    .cart-card.checkout-wrapper {
        margin-top: 20px;
    }
    .delv-slt-wr {
        padding: 10px;
    }
    .delv-slt-wr .pdt-p-dlt .price {
        font-size: 14px;
    }
    .delv-slt-wr .net {
        font-size: 15px;
        text-align: center;
    }
    .order-preap-section .card-delivery-slot .process-sec {
        margin-bottom: 16px;
    }
    .my-mart-signup-wr .form-group.other-login-method .google button {
        margin-top: 10px;
    }
    .mapheight {
        height: 400px;
    }
    .modal-dialog-scrollable .modal-content {
        max-height: calc(100% - 115px);
        margin-top: 5px;
    }
    .modal-dialog-scrollable .modal-body {
        padding: 14px 0;
    }
    .variation-box .pl-0 {
        padding-left: 16px!important;
    }
    .variation-box .cart-card.quantity-box .incrementbox {
        margin-top: 10px;
    }
    .product-details-wrpr .store-content .nav .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 700px) {
    .review-tabs .nav {
        flex-wrap: wrap;
    }
    .review-tabs .nav .nav-link.same-width {
        max-width: inherit;
    }
    .review-tabs .nav .nav-link {
        margin-bottom: 6px;
    }
    .review-tabs .inner-review-container {
        padding: 40px 0px 0;
    }
    .inner-review-container .product-r-wr .reviwe-items .rating {
        margin-bottom: 4px;
    }
    .stock-card .img-sect {
        width: 160px;
    }
}

@media only screen and (max-width: 668px) {
    .header-bottom .category_header .smallview {
        width: 100%;
    }
    .header-bottom .category_header .search-input {
        width: 100%;
        margin-right: 8px;
    }
    .header-bottom .category_header .home_nav .nav-item .nav-link, .header-bottom .category_header .navbar-brand {
        font-size: 15px;
    }
    .mall-cat-wr .owl-carousel .owl-item {
        width: 180px!important;
    }
    .mall-cat-wr .owl-carousel .owl-nav .owl-prev, .mall-cat-wr .owl-carousel .owl-nav .owl-next {
        width: 30px;
        height: 30px;
    }
    .exclusiveOffer .owl-carousel .owl-item {
        width: 280px!important;
    }
    .header-bottom .category_header {
        padding: 0;
    }
    .pagination-product .pagination .page-item a {
        padding: 4px 10px;
        font-size: 12px;
    }
    .product-details-wrpr {
        padding: 20px;
    }
    .food-description-wr .description-inner .product-details h2 {
        font-size: 24px;
        margin-bottom: 10px
    }
    .product-details-wrpr .store-content .nav .nav-item {
        font-size: 12px;
    }
    .product-more-details .price-bar .price-content h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .product-more-details .price-bar .price-content p {
        font-size: 22px;
    }
    .product-more-details .price-estimate .estimate-time p {
        font-size: 14px;
    }
    .product-more-details .size-an-all .size-item p {
        margin: 10px 0 5px;
    }
    .product-more-details .size-an-all .size-item p {
        font-size: 14px;
    }
    .collable-contents .price-tag-wpr {
        padding: 16px 20px;
    }
    .collable-contents .price-tag-wpr .sub-title {
        font-size: 16px;
    }
    .collable-contents .date-pick-epr {
        padding: 0 20px;
    }
    .populate-buttons button.one-type {
        width: 80px;
    }
    .populate-buttons button.saveButton {
        width: 130px;
    }
    .stock-card .stock_button-action {
        flex-direction: column;
    }
    .stock-card .stock_button-action button {
        margin: 0;
        margin-bottom: 15px;
    }
    .total-cart-div {
        flex-direction: column;
    }
    .total-cart-div .total-selected {
        margin-bottom: 10px;
    }
    .stock_button-action.seller-product .sku-form {
        width: calc(100% - 160px);
        margin-left: 0;
    }
    .stock_button-action.seller-product .form-inline {
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .stock-card .card-f-dealer .left-conte-card {
        flex-direction: column;
    }
    .stock-card .img-sect {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .stock-card .card-f-dealer .left-conte-card .content-sect {
        width: 100%;
        margin: 0;
    }
    .stock-card .content-sect .price {
        margin-bottom: 20px;
    }
    .stock-card .content-sect .stock-inhand {
        margin-bottom: 10px;
        justify-content: flex-start;
    }
    .stock-card .content-sect .sdatet-desc span {
        display: block;
        margin-top: 4px;
    }
    .stock-card .content-sect .sdatet-desc {
        margin-top: 10px;
    }
    .stock-card .stock_button-action button {
        height: 44px;
        font-size: 18px;
    }
    .collable-contents .date-pick-epr {
        flex-wrap: wrap;
    }
    .collable-contents .date-pick-epr .form-group {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .collable-contents .price-tag-wpr .margin-money {
        font-size: 14px;
    }
    .dbF-content .product-m-c {
        padding: 20px;
    }
    .collable-contents .price-tag-wpr {
        align-items: flex-start;
        flex-direction: column;
    }
    .collable-contents .price-tag-wpr .sub-title {
        font-size: 18px;
        margin-bottom: 14px;
    }
    .populate-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .stock-card .card-f-dealer {
        padding: 20px;
    }
    .collable-contents .special-price {
        padding: 0;
    }
    .dbF-content .left-menu .nav .nav-item {
        width: 50%;
    }
    .card-holder .collable-contents .date-pick-epr .form-group {
        width: 100%;
    }
    .seller-product .stock-card .discount-problem {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .total-cart-div .total-selected {
        font-size: 16px;
    }
    .total-cart-div .btn-add-store {
        font-size: 18px;
    }
    .stock-card .card-f-dealer .left-conte-card .content-sect .fruit-stock .sep_ator {
        display: flex;
    }
    .stock-card .card-f-dealer .left-conte-card .content-sect .fruit-stock .sep_ator .s-dc:last-child {
        margin: 0;
        margin-left: 10px;
    }
    .srh-4-store {
        width: 100%;
    }
    .order-preap-section .card-delivery-slot .credit-card-details {
        font-size: 14px;
        word-break: break-all;
    }
    .seller-order-wrap .preview-wrapper {
        padding: 6px 16px;
        font-size: 18px;
    }
    .order-preap-section .card-delivery-slot .money-to-pay {
        margin: 10px 0;
    }
    .my-mart-signup-wr .sinup-container .form-sign-wrapper input::placeholder {
        display: none;
        color: #fff;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 600px) {
    .main-srch {
        align-items: flex-start;
        flex-direction: column;
    }
    .main-srch .h-name {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .order-preap-section .social-wrapd a {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 576px) {
    .my-order-wr .my-order-body .order-items.my-wishlist .cut-priceblock {
        padding: 0 16px;
    }
    .my-order-body .order-items .items-w-image .img-wr {
        margin-right: 10px;
    }
    .my-order-body .order-items .items-w-image .content {
        width: calc( 100% - 125px);
    }
    .map-height {
        height: 215px;
    }
    .lv-menu-sec {
        display: block;
    }
    .download-app-container .download-content .download-button {
        flex-direction: column;
    }
    .download-app-container .download-content .download-button .playstore {
        margin: 0;
        margin-bottom: 10px;
    }
    .footer-wrapper .footer-item {
        width: 100%;
        text-align: center;
    }
    .desclaimer-section .paymemt-copyright {
        flex-direction: column;
    }
    .desclaimer-section .paymemt-copyright .copy-right p {
        margin-bottom: 20px;
    }
    .desclaimer-section .paymemt-copyright .copy-right p br {
        display: none;
    }
    .product-container .row .col-lg-3 {
        flex: 0 0 100%;
        max-width: 100%;
        display: inherit;
    }
    .category-section .categories-wrapper .product-category {
        width: 50%;
    }
    .login-signup {
        width: 100%;
        justify-content: space-between;
    }
    .top_header .main_top {
        flex-direction: column-reverse;
        padding-bottom: 10px;
    }
    .top_header .main_top .address-bar {
        width: 95%;
    }
    .top_header .main_top .address-bar .search-location {
        margin-top: 10px;
        border: 1px solid #ececec;
    }
    .top_header .main_top .address-bar .search-location::before {
        content: '';
        top: 24px;
        right: 8px;
    }
    .modal-header {
        padding: 12px;
    }
    .search-result-item {
        flex-direction: column;
        text-align: center;
    }
    .search-result-item .image-result {
        width: 60px;
        height: 60px;
        margin: 0;
        margin-bottom: 6px;
    }
    .nearby-srch {
        width: 100%;
        max-width: inherit;
    }
    .search-result-item .text-result .title_bar {
        font-size: 12px;
    }
    .search-result-item .text-result .padding-screen {
        padding: 8px;
    }
    .productlisting_main .freshfruit .leftdiv p {
        margin-bottom: 0px;
    }
    .no-aviable-prod {
        font-size: 14px;
    }
    .footer-wrapper .social-wrapper {
        justify-content: center;
        align-items: center;
    }
    .product-details-wrpr .image-slider {
        height: auto;
        flex-direction: column;
    }
    .product-details-wrpr .mySlides {
        margin-left: 0;
    }
    .product-details-wrpr .image-with-arrow {
        width: 100%;
        padding: 0px 30px
    }
    .product-details-wrpr .thumb-image {
        flex-direction: row;
        width: 100%;
    }
    .product-details-wrpr .next {
        bottom: 25%;
        right: 0;
        left: inherit;
        transform: rotate(270deg);
    }
    .product-details-wrpr .prev {
        top: 25%;
        left: 0;
        transform: rotate(270deg);
    }
    .product-details-wrpr .column {
        margin: 20px 5px;
        height: 60px;
    }
    .food-description-wr .description-inner .share-product button {
        font-size: 18px;
        padding: 0 5px;
        margin-top: inherit;
    }
    .food-description-wr .description-inner .share-product {
        width: 60px;
        align-items: flex-start;
    }
    .food-description-wr .description-inner .product-details {
        width: calc( 100% - 60px);
    }
    .food-description-wr .description-inner .product-details h2 {
        font-size: 16px;
        margin: 5px 0 0 0;
    }
    .food-description-wr .description-inner .product-details .brand-name {
        font-size: 14px;
    }
    .food-description-wr .description-inner .product-details .col-md-9 {
        padding: 0 16px;
    }
    .freq-bought-wrapper .bought-section {
        max-width: 100%;
        flex: 0 0 100%;
        margin: 0;
        margin-bottom: 60px;
    }
    .freq-bought-wrapper .bought-section::after {
        right: 50%;
        bottom: -40px;
    }
    .review-tabs .inner-review-container {
        padding: 16px;
    }
    .review-tabs .inner-review-container .rating-section .rating-title {
        margin-bottom: 10px;
    }
    .review-tabs .rating-section .reiew-contaier .content-right .rating {
        min-width: 120px;
    }
    .review-tabs .rating-section .reiew-contaier .content-right .bar {
        max-width: 180px;
    }
    .market-details .nav {
        align-items: center;
        flex-direction: column;
    }
    .market-details .nav-item {
        width: 100%;
        margin-top: 6px;
    }
    .market-details .nav-item .nav-link {
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .market-details .nav-item .nav-link img {
        display: initial;
    }
    .store-banner {
        padding: 30px 20px;
    }
    .cart-block-content .nav .nav-item .line-space span {
        display: none;
    }
    .shipment-wr .top-header {
        padding: 15px;
    }
    .shipment-wr .gross-title {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .slect-time-slot-wr p {
        margin: 0;
        margin-bottom: 5px;
        font-size: 18px;
    }
    .slot-wrapper .slot-date {
        margin-bottom: 5px!important;
        font-size: 13px!important;
    }
    .slot-main .react-multi-carousel-item {
        padding: 5px !important;
    }
    .slot-wrapper .slotbtn.available-slot {
        margin: 5px 0;
        width: 100%;
        min-height: 44px;
        font-size: 13px;
        justify-content: center;
    }
    .slect-time-slot-wr .btn-delivery {
        font-size: 16px;
        padding-left: 44px;
        background-size: 22px;
        margin-left: auto;
    }
    .shipment-inner .choose-delivery-opt {
        font-size: 16px;
    }
    .schedule-slot .sch-slot-slct h2 {
        margin-bottom: 0;
        font-size: 14px;
        color: #FF330C;
    }
    .schedule-slot .sch-slot-slct h3 {
        margin-bottom: 0px;
        font-size: 16px;
    }
    .billing-section .checkout {
        height: 52px;
    }
    .billing-section .buyer-address .edit {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
    .billing-section .Ship-Bill {
        font-size: 14px;
    }
    .billing-section .address-1 {
        font-size: 12px;
    }
    .cart-card .total-price p {
        font-size: 14px;
    }
    .cart-card {
        margin-bottom: 10px;
    }
    .billing-section .Ship-Bill {
        margin: 0;
    }
    .cart-card .total-price {
        margin-top: 5px;
    }
    .billing-section .buyer-name {
        font-size: 16px;
    }
    .billing-section .address-1 {
        font-size: 14px;
    }
    .my-order-wr .order-title {
        font-size: 20px;
        align-self: center;
    }
    .addAddress_button_wr {
        margin-bottom: 16px;
    }
    .product-container .row .col-lg-3 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 8px;
    }
    .download-app-container {
        /* padding: 30px 0 120px; */
    }
    .download-app-container .download-content h2 {
        font-size: 32px;
        margin-bottom: 10px;
    }
    .download-app-container .download-content .text p {
        font-size: 16px;
    }
    .news_letter .news-letterform .input-withButton .search_button {
        width: 150px;
        height: 52px;
    }
    .product-card .product-image {
        height: 115px;
    }
    .product-card .priceTag {
        font-family: 'PoppinsMedium';
        font-size: 15px;
        padding: 0;
    }
    .product-card .qty {
        padding: 0;
    }
    .product-variation-text .qty {
        padding: 0 5px;
    }
    .schedule-slot {
        margin: 0px 0 10px;
    }
    .filter-wrapper {
        display: block;
    }
    /* new lazada header */
    /* .header-section .miniView{ display: none;} */
    .login-signup {
        display: none;
    }
    #google_translate_element {
        display: none;
    }
    .moreccatview-res {
        display: block;
    }
    .category_header .cart-section .nav-item.active {
        display: none;
    }
    .category_header .cart-section .moreccatview-res .nav-item {
        width: 100%;
        margin: 0;
    }
    .category_header .cart-section .moreccatview-res .nav-item a {
        font-size: 14px;
        font-family: 'Poppins-Reg';
        color: #000;
    }
    .header-bottom .category_header .navbar-brand img {
        margin-right: 5px;
    }
    .header-section {
        padding: 0;
    }
    .header-bottom .category_header .navbar-brand {
        margin: 0;
    }
    .header-section .miniView {
        max-width: 100%;
    }
    .header-bottom {
        background: #ffb101;
        padding: 10px;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 1111;
    }
    .productlisting_main .list_left_bg {
        display: none;
    }
    .filter-new-wr {
        display: block;
    }
    .menu-hide {
        width: 0;
        visibility: hidden;
        height: 0;
    }
    .menu-show {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 12000;
        top: 0;
        right: 0;
        visibility: visible;
        background: rgb(0, 0, 0, 0.8);
        overflow-x: hidden;
        transition: 0.2s;
    }
    .lv-menu-sec .search-sm-input {
        background: url(/BrojiMarketPlace/Customer/static/media/search_icon.e72c7856.svg) no-repeat 14px center;
        height: 55px;
        padding-left: 50px;
        background-size: 24px;
        background-color: #F2F2F2;
        border: 1px solid #CDCDCD;
        background-color: #ffab3b;
        color: #fff;
    }
    .lv-menu-sec .filter {
        background-color: transparent;
        border: 1px solid #efeeee;
        margin-left: 5px;
        color: #9e9e9e;
    }
    .inner-filter-container {
        transition: 0.5s;
        background: #fff;
        min-height: 100%;
        position: relative;
        max-width: 85%;
        display: none;
        margin-left: auto;
        padding: 10px;
        padding-bottom: 50px;
    }
    .lv-menu-sec .btn:focus {
        outline: none;
        box-shadow: none;
    }
    .lv-menu-sec .cancel {
        position: fixed;
        left: 5px;
        top: 5px;
        border-radius: 50%;
        padding: 0;
        width: 30px;
        height: 30px;
        color: #fff6f6;
        background: #ff7d01;
    }
    .mobile-menu ul .nav-link {
        font-size: 14px;
    }
    .menu-show .inner-filter-container {
        display: block;
    }
    .inner-filter-container .st-action-button {
        position: fixed;
        bottom: 0;
        display: flex;
        width: calc( 100% - 20%);
        background: #fff;
    }
    .inner-filter-container .st-action-button button {
        width: 50%;
        background-color: #000;
        border-color: inherit;
        color: #fff;
        font-family: 'PoppinsLight';
        margin-bottom: 5px;
        font-size: 18px;
        height: 40px;
        border-radius: 0;
    }
    .inner-filter-container .st-action-button button:last-child {
        background-color: #ff7d01;
    }
    .inner-filter-container .ca-filter {
        margin: 5px;
    }
    .inner-filter-container .ca-filter .title {
        color: #191818;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        font-family: 'PoppinsRegular';
        margin: 0 5px;
        margin-bottom: 8px;
    }
    .inner-filter-container .ca-filter .tsgs {
        color: #444;
        background: #ffffff;
        padding: 4px 10px;
        margin: 3px;
        border-radius: 3px;
        font-family: 'PoppinsMedium';
        border: 1px solid #ececec;
        display: inline-block;
        font-size: 12px;
    }
    .menu-show .inner-filter-container .collapse-content .tsgs:hover {
        background: #ff7d01;
        color: #fff;
    }
    .menu-show .inner-filter-container .collapse-content .tsgs.active {
        background: #ff7d01;
        color: #fff;
    }
    .menu-show .inner-filter-container .collapse-content .tsgs.inactive {
        background: #ffffff;
        color: #444;
    }
    .min-max-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        margin-bottom: 16px;
    }
    .min-max-wrapper .form-control {
        max-width: 140px;
    }
    .min-max-wrapper .btn {
        background-color: #ff7d01;
        color: #fff;
    }
    .min-max-wrapper .lines {
        background-color: #000;
        width: 10px;
        height: 2px;
    }
    .productlisting_main .leftPannel {
        margin: 0;
    }
    .filter-new-wr {
        display: flex;
        margin-top: 0;
        position: absolute;
        right: 0;
        z-index: 9;
    }
    .sm-search-address .form-control {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFvSURBVHgBtVPLbYNAEOUTAeJEOqAE0gFUkHTgUEH2yOdCLgiJS6jApAKng7iD0EHoIJwQFyBvrHVE1oBlJR5pveOdmTdvPkjSP4m8ZgyCwFUUxSV9GIZ9lmX7i4CiKHJw7XBswVQD0ANgLcYoMyxsWZbfx3EkFl7btrd0oPv0BoYf5HMWSFXVLYIaBHnTUqCX9IYkEs52FYgywdmFWhD9OI43pml+0QnDkNEb7AWAXMaYtcbIph84V/w/OxoQ/DS1GYbhLAKh/obfB0AqcWKupr593zeLQGmaVsjcAMDh2X3oBR003OfM7nE1eZ7/Ar6RBEHwKxht0IOEj/mnPD7RB/i8iXEnU0N2crLQYHbijAQAseDzLNpmFxITKqkEBNwdl4/YAOgTaokW+GcZkei6zsR9AcgObOo5NouMOINHBBNQwp8S2m5azIuASPDNveA67A9NDiBsyVdZA9I0LcFVUUld1yXSX4SaPPeRXk2+Ae6WxKitUPpUAAAAAElFTkSuQmCC) no-repeat left 10px;
        height: 38px;
        padding-left: 30px;
        background-size: 22px;
        background-color: #ffffff;
        border: 1px solid #f3f3f3;
    }
    .react-multiple-carousel__arrow {
        min-width: 25px!important;
        min-height: 25px!important;
    }
    .react-multiple-carousel__arrow::before {
        font-size: 12px!important;
    }
    .gamezone_wrapper .peper-area .in-content0 {
        padding: 0px 15px 20px 40%;
    }
    .gamezone_wrapper .gaming-console p h4, .gamezone_wrapper .peper-area p h4 {
        padding-top: 30px;
        font-size: 14px;
    }
    .banner-slider .banner-image {
        height: auto;
    }
    .productlisting_main .searchView .only-cat-view {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .productlisting_main .freshfruit .leftdiv h1 {
        font-size: 14px;
        margin-bottom: 6px;
    }
    .productlisting_main .freshfruit .leftdiv {
        margin-bottom: 8px;
        padding-right: 20px;
    }
    .search-result-item .text-result {
        width: 100%;
    }
    .main-srch .h-name {
        margin-bottom: 8px;
        font-size: 14px;
    }
    .productlisting_main .freshfruit .rightdiv .sortBy {
        font-size: 14px;
    }
    .nearby-srch .names {
        font-size: 12px;
        padding: 6px 8px;
    }
    .header-bottom .category_header .search-input .form-control {
        background-size: 14px;
        padding-left: 32px;
        background-position: 10px;
        background-color: #fff;
        line-height: 46px
    }
    .nearby-srch label {
        width: 50%;
        text-align: center;
    }
    .variation-box .col-md-9 {
        padding: 0 15px!important;
    }
    .gamezone_wrapper {
        margin-top: 10px;
    }
    .new_tranding .title_section {
        margin: 10px 0px;
    }
    /* sticky footer */
    .sticky-footer {
        display: block;
    }
    .footer-section {
        display: none;
    }
    .sticky-footer {
        position: fixed;
        bottom: 0px;
        z-index: 1100;
        background: #fbfbfb;
        padding: 8px 4px 4px;
        width: 100%;
        box-shadow: 0px 0px 6px #ddd;
    }
    .sticky-footer .nav-pills .nav-link.active {
        color: #ed9622;
        background-color: transparent;
    }
    .menu-show .inner-filter-container .collapse-content {
        max-height: 80px;
        overflow: hidden;
    }
    .menu-show .inner-filter-container .collapse-content.show {
        max-height: inherit;
        overflow: inherit;
        background: #fff7ee;
    }
    .sticky-footer .nav-pills .nav-link {
        color: #000;
        position: relative;
        padding: 0;
        font-size: 14px;
        font-family: 'Poppins-Reg';
    }
    .sticky-footer .nav-pills .nav-link i {
        font-size: 18px;
        line-height: initial;
    }
    .sticky-footer .nav-pills .nav-link .cart-value {
        position: absolute;
        top: 20%;
        left: 56%;
        transform: translate(-54%, -80%);
        background: #ff980f;
        width: 15px;
        height: 15px;
        line-height: inherit;
        font-family: 'RobotoMedium';
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #eae4e4;
        font-size: 12px;
    }
    .exclusiveOffer .offer-item {
        height: 85px;
    }
    .exclusiveOffer .offer-item .icontent .name h4 {
        font-size: 14px;
        margin-bottom: 0px;
    }
    .exclusiveOffer .offer-item .icontent .name h2 {
        font-size: 16px;
    }
    .p-d-img-carausal .image-gallery-content {
        display: flex;
        flex-direction: column;
    }
    .p-d-img-carausal .image-gallery-slide-wrapper {
        height: 240px !important;
    }
    .p-d-img-carausal .image-gallery-thumbnails {
        padding: 10px 0;
    }
    .p-d-img-carausal .image-gallery-slide-wrapper.left {
        width: 100%;
        height: inherit!important;
    }
    .p-d-img-carausal .image-gallery-slide {
        height: 200px;
        background: #ececec;
        display: flex;
        justify-content: center;
    }
    .p-d-img-carausal .image-gallery-slide .image-gallery-image {
        width: 100%;
        height: 100%;
    }
    .p-d-img-carausal .image-gallery-thumbnails-wrapper.left {
        width: 100%;
    }
    .p-d-img-carausal .image-gallery-thumbnails .image-gallery-thumbnails-container {
        display: flex;
        margin-top: 10px;
    }
    .p-d-img-carausal .image-gallery-thumbnails-wrapper.left {
        height: 85px!important;
        display: none;
    }
    .product-details-wrpr .col-lg-6 {
        margin-bottom: 10px;
    }
    .count-small {
        border-radius: 20px;
        border: 1px solid #000;
        background: rgba(0, 0, 0, 0.1);
    }
    .menu-step1, .menu-step2, .menu-step3, .menu-step4, .menu-step5 {
        height: 100%;
        width: 300px;
        min-height: 365px;
    }
    .menu-step2, .menu-step3, .menu-step4, .menu-step5 {
        left: 10px;
    }
    .productlisting_main .searchView .padding-screen {
        padding: 6px;
    }
    .main-srch {
        margin: 0px 0px 10px;
        width: 100%;
    }
    .rightdiv {
        width: 100%;
    }
    .rightdiv .form-group {
        width: 100%;
    }
    .productlisting_main .freshfruit .rightdiv .form-control {
        width: 100%;
    }
    .cs-col-padding {
        padding-right: 5px;
        padding-left: 5px;
    }
    .cs-row-margin {
        margin-right: -5px;
        margin-left: -5px;
    }
    .new-category-section .tab-details .toggle-tab-body {
        padding: 10px 0;
    }
    .new-category-section .tab-details .toggle-tab-body .sing-items {
        padding: 5px;
        margin-bottom: 10px;
    }
    .new-category-section .tab-details .toggle-tab-body .sing-items p {
        font-size: 12px;
    }
    .new-category-section .tabs_left .nav-link img {
        width: 30px;
        height: 30px;
    }
    .new-category-section .tabs_left .nav-link {
        font-size: 12px;
    }
    .new-category-section .tab-details .toggle-tab-header {
        padding: 8px 16px;
    }
    .new-category-section .tab-details .toggle-tab-header .btn-tab {
        font-size: 14px;
    }
    .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group .form-control {
        height: 42px;
    }
    .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group .signup_btn {
        height: 44px;
    }
    .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group .getCode {
        height: 44px;
    }
    .my-mart-signup-wr .form-group.other-login-method .signup_with_gmail {
        font-size: 18px;
        height: 40px;
        margin-bottom: 10px;
    }
    .cart-block-content .nav .nav-item {
        font-size: 14px;
    }
    .cart-block-content .nav#pills-tab .nav-item {
        width: 25%;
    }
    .cart-block-content .nav#pills-tab .nav-item .nav-link {
        width: 100%;
    }
    .cart-block-content .nav .nav-item .line-space {
        display: none;
    }
    .cart-block .cart-block-content {
        padding: 16px;
        margin-top: 0;
    }
    .cart-block-content .cart-items-content {
        margin-top: 20px;
    }
    .cart-block-content .cart-items-content .row {
        width: 100%;
        margin: auto;
    }
    .cart-block-content .cart-items-content .row .col-md-8 {
        padding: 0;
    }
    .cart-block-content .cart-items-content .nav .nav-item {
        font-size: 12px;
        margin: 0;
    }
    .cart-card .delete-wrapper .chkbx {
        padding-bottom: 5px;
    }
    .cart-block-content .cart-items-content .nav .nav-item:after {
        display: none;
    }
    .mall-cat-wr .card {
        height: 100px;
        text-align: center;
        padding: 4px;
    }
    .mall-cat-wr .card .icon {
        height: 35px;
    }
    .mall-cat-wr .card .name {
        font-size: 10px;
        margin-top: 5px;
        line-height: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 38px;
    }
    .exclusiveOffer .offer-item .icontent {
        padding: 10px;
    }
    .gamezone_wrapper .gaming-console .in-content0 {
        padding: 0px 40% 23px 15px;
    }
    .gamezone_wrapper .peper-area a, .gamezone_wrapper .gaming-console a {
        font-size: 14px;
    }
    .gamezone_wrapper .peper-area p h2, .gamezone_wrapper .gaming-console h2 {
        font-size: 16px;
    }
    .gamezone_wrapper .gaming-console {
        margin-top: 10px;
    }
    .cart-card .delete-wrapper {
        align-items: flex-start;
    }
    .cart-card .delete-wrapper .chkbx {
        width: 100%;
    }
    .cart-card .delete-wrapper .chkbx .c-s-checkbox .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
    }
    .chkbx .c-s-checkbox .checkmark:after {
        left: 6px;
        top: 0;
    }
    .cart-card .delete-wrapper .chkbx .all-check {
        margin-left: 25px;
    }
    .cart-card .delete-wrapper.header {
        padding: 0;
    }
    .cart-card .incrementbox {
        max-width: 120px;
        margin: 0;
    }
    .shipment-wr .top-header .check-form {
        margin-top: 0;
    }
    .si-newInner .pack-details {
        padding: 10px;
    }
    .schedule-slot .sch-slot-slct {
        padding: 6px;
    }
    .exclusiveOffer .offer-item .icontent a {
        font-size: 13px;
    }
    .cart-card .offerbox .content .view-details {
        margin: 5px 0 0;
        width: 100%;
        height: 34px;
        padding: 0 10px;
    }
    .content-main .more-offer {
        margin: 10px 0;
    }
    .cart-card .img-section .content-wrapper .title {
        margin: 0;
        font-size: 14px;
    }
    .cart-card .offerbox .content .cont-head {
        margin: 0;
    }
    .cart-card .price-mark {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        margin: 10px 0 0;
        padding: 5px 10px;
    }
    .cart-card .quantity-box p {
        margin-top: 10px;
    }
    .cart-card .content-main {
        padding: 0;
        position: relative;
    }
    .cart-card .col-lg-2 .quantity-box {
        display: flex;
        flex-direction: column-reverse;
    }
    .cart-card .img-section .content-wrapper .fresh-fruit {
        font-size: 12px;
    }
    .seller-order-wrap {
        padding: 18px;
    }
    .small-menu-part {
        display: block;
    }
    .hide_inmenu {
        display: none;
    }
    .account-container .dbF-content {
        margin-top: 0;
    }
    .small-menu-part .showMenu {
        position: relative;
    }
    .dbF-content .left-menu {
        position: fixed;
        display: flex;
        justify-content: center;
        padding: 2px;
        left: -100%;
        top: 0;
        z-index: 9999;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        transition: 150ms;
    }
    .dbF-content .left-menu.showMenu {
        left: 0%;
    }
    .btn-close-new {
        display: flex;
    }
    /* new cart design */
    .cart-block-content .nav {
        padding-top: 16px;
    }
    .cart-items-content .cart-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background: #ffffff;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: -1px 4px 4px #ddd;
    }
    .cart-items-content .cart-list .left-part {
        display: flex;
        align-items: center;
    }
    .cart-items-content .cart-list .left-part p {
        font-family: 'Poppins-Reg';
        margin-left: 5px;
    }
    .cart-items-content .cart-list .left-part svg {
        cursor: pointer;
    }
    .cart-items-content .cart-list .act-text {
        font-family: 'Poppins-Reg';
        display: flex;
        align-items: center;
    }
    .new-cart-modification .container {
        max-width: 100%;
        padding: 0;
    }
    .new-cart-modification .cart-block-content {
        padding: 0;
    }
    .new-cart-modification .cart-card {
        margin: 10px;
        padding: 2px 10px;
    }
    .new-cart-modification .price-mark {
        border: none;
        margin-top: 0;
    }
    .new-cart-modification .cart-card.checkout-wrapper {
        position: fixed;
        z-index: 9999;
        bottom: 53px;
        left: 0;
        width: 100%;
        margin: 0;
        display: flex;
        background: #fff;
        align-items: flex-end;
        padding-right: 10px;
        justify-content: space-between;
    }
    .new-cart-modification .cart-card.checkout-wrapper .cart-total.subtotal, .new-cart-modification .cart-card.checkout-wrapper .Ship-Bill {
        display: none;
    }
    .new-cart-modification .cart-card.checkout-wrapper .onf-sm-view {
        display: flex;
        flex-direction: column-reverse;
    }
    .billing-section .buyer-address .buyer-name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    .cart-card .checkout {
        width: 35%;
        border-radius: 30px;
        height: 40px;
        margin-bottom: 10px;
    }
    .cart-card .checkout .small-checkout {
        display: block;
    }
    .cart-card .checkout .large-checkout {
        display: none;
    }
    .new-cart-modification .shipment-inner {
        width: 100%;
    }
    .new-cart-modification .cart-card .cart-total span, .new-cart-modification .cart-card .total-price p {
        color: #ed9622;
    }
    .product-more-details .size-an-all .size-item {
        text-align: left!important;
        flex-grow: 1;
    }
    .mobile-menuicon {
        display: block!important;
    }
    .shipment-inner.si-newInner .col-3 {
        padding-right: 0;
    }
    .shipment-inner.si-newInner .col-7 {
        padding-right: 0;
    }
    .si-newInner .pack-details .paked-by {
        font-size: 14px;
    }
    .si-newInner .pack-details .pack-with-image .pack-head {
        font-size: 14px;
    }
    .si-newInner .pack-details .pack-with-image img {
        width: 24px;
    }
    .schedule-slot .sch-slot-slct h2.modified-price {
        font-size: 14px;
    }
    .si-newInner .inner-padding {
        padding: 10px;
    }
    .si-newInner .inner-padding .choose-delivery-opt {
        margin-bottom: 10px;
    }
    .si-newInner .inner-padding .col-6 {
        padding: 0 5px;
    }
    .top_header .main_top .address-bar .search-location .form-control {
        font-size: 14px;
    }
    .schedule-slot .sch-slot-slct h3.hd {
        font-size: 13px;
        margin-top: 5px
    }
    .schedule-slot .sch-slot-slct h2.modified-price img {
        width: 16px;
    }
    .schedule-slot .sch-slot-slct p {
        font-size: 12px;
        line-height: 12px;
    }
}

@media only screen and (max-width: 540px) {
    .product-details-wrpr .store-content .nav {
        flex-wrap: wrap;
    }
    .product-details-wrpr .store-content .nav .nav-item {
        width: 49%;
        font-size: 14px;
        margin: 0;
        margin-bottom: 10px;
    }
    .gamezone_wrapper .peper-area p h2, .gamezone_wrapper .gaming-console h2 {
        margin: 0;
    }
    .payment-section-wrapper .payment-inner-wr .p-d-inner-wr .pd-title {
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    .breadcrumb .breadcrumb-item {
        font-size: 14px;
    }
    .body-block {
        padding: 30px 0px;
    }
    .news_letter .signup_portion p {
        font-size: 22px;
    }
    .new_tranding .title_section h2 {
        font-size: 16px;
    }
    .download-app-container .download-content h2 {
        font-size: 26px;
    }
    .download-app-container {
        /* padding: 40px 0 120px; */
    }
    .header-bottom .category_header .smallview {
        margin: 0;
    }
    .header-bottom .category_header .search-input {
        width: 100%;
        margin-right: 0;
    }
    .category-section .header-title {
        font-size: 18px;
    }
    .dbF-content {
        margin-top: 0;
    }
    .dbF-content .left-menu .nav .nav-item {
        width: 100%;
    }
    .dbF-content .left-menu .nav .sub-nav {
        padding: 4px 10px;
    }
    .product-card .card-title {
        line-height: inherit;
    }
    .dbF-content .left-menu .inner-left-menu-w {
        padding-top: 0;
    }
    .gamezone_wrapper .gaming-console h1, .gamezone_wrapper .peper-area h1 {
        margin: 0;
        margin-bottom: 10px;
    }
    .exclusiveOffer .offer-item.bg_blue {
        background-size: 100px;
        padding: 15px;
        padding-right: 100px;
    }
    .exclusiveOffer .offer-item.bg_gray {
        background-size: 100px;
        padding: 15px;
        padding-left: 100px;
    }
    .exclusiveOffer .offer-item.bg_pink {
        background-size: 140px;
        padding: 15px;
        padding-right: 120px;
    }
    .header-bottom {
        margin-bottom: 5px;
    }
    .login-signup {
        margin-bottom: 16px;
    }
    .header-bottom .category_header {
        padding: 0;
    }
    .header-bottom .category_header .toggle_button {
        top: 8px;
    }
    .productlisting_main .searchView .padding-screen .search-result-item {
        flex-direction: column;
        text-align: center;
    }
    .productlisting_main .searchView .padding-screen .search-result-item .image-result {
        margin: 0;
        margin-bottom: 8px;
    }
    .news_letter .news-letterform .input-withButton .search_button {
        font-size: 16px;
        width: 120px;
    }
    .product-more-details .price-bar {
        flex-wrap: wrap;
    }
    .product-more-details .price-bar .price-content {
        width: 100%;
    }
    .product-more-details .price-bar .off-section {
        max-width: 100%;
        width: 100%;
        margin-bottom: 30px;
    }
    .product-more-details .size-an-all {
        flex-wrap: wrap;
    }
    .product-more-details .button-action {
        flex-wrap: wrap;
    }
    .product-more-details .button-action button {
        max-width: 100%!important;
    }
    .product-more-details .button-action button.cart_new {
        margin: 0;
        margin-bottom: 20px;
    }
    .my-mart-signup-wr {
        margin: 20px 0;
    }
    .my-mart-signup-wr .sinup-container .form-sign-wrapper {
        padding: 24px;
    }
    .my-mart-signup-wr .sinup-container h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group.other-login-method .signup_with_facebook, .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group.other-login-method .signup_with_g_plus {
        padding-left: 50px;
        background-position: 10px center;
        background-size: 30px;
        height: 60px;
        font-size: 16px;
    }
    .my-mart-signup-wr .sinup-container .form-sign-wrapper {
        padding: 16px;
    }
    .populate-buttons button.one-type i {
        font-size: 22px;
    }
    .populate-buttons button {
        height: 42px;
    }
    .dbF-content .product-m-c .manage-header {
        flex-direction: column;
    }
    .stock_button-action.seller-product .form-inline {
        flex-flow: wrap;
    }
    .stock_button-action.seller-product .sku-form {
        width: 100%;
    }
    .searchView .category-section .categories-wrapper .product-category {
        width: 50%;
    }
    .store-voucher-wr .nav-pills .nav-item {
        width: 50%;
        text-align: center;
    }
    .shipment-wr .total-price h2 span {
        display: block;
    }
    .billing-section .form-wrapper .btn-apply {
        width: 100%;
        margin-top: 10px;
    }
    .billing-section .form-wrapper .form-control {
        width: 100%;
        margin: 0;
    }
    .billing-section .net-price {
        justify-content: center;
        margin: 20px 0;
    }
    .billing-section .form-wrapper {
        flex-direction: column;
    }
    .my-order-wr .my-order-body .order-items.my-wishlist .btn-addcart {
        margin-top: 10px;
    }
    .my-order-wr .my-order-body .order-items.my-wishlist .cut-priceblock {
        margin-top: 20px;
    }
    .mapheight {
        height: 320px;
    }
    .mobile-filterBy {
        display: flex;
    }
    .cart-block-content .cart-items-content .nav {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    .category-section .categories-wrapper .product-category {
        height: 145px;
    }
    .category-section .categories-wrapper .product-category .inner_category .image-product {
        height: 80px;
    }
    .category-section .categories-wrapper .product-category .inner_category p {
        font-size: 14px;
        margin-top: 10px;
    }
    .mod_main_width .modal-body .logo img {
        width: 180px;
    }
    .pagination-product .pagination .page-item {
        margin: 0 3px;
    }
    .signup_wraper .signup-form .submitButton {
        width: 100%;
        height: 50px;
    }
    .signup_wraper .signup-form .form-group .form-control, .signup_wraper .signup-form .selectDrop_total {
        height: 55px;
        font-size: 18px;
    }
    .signup_wraper .signup-form {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .signup_wraper .signup-form .header {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .signup_wraper .signup-form .form-group .placeHolder {
        font-size: 18px;
        top: 10px;
        left: 12px;
    }
    .news_letter .signup_portion p {
        font-size: 16px;
    }
    .news_letter .signup_portion img {
        width: 35px;
    }
    .header-bottom .category_header .cart-section .nav-item a.cart {
        font-size: 14px;
    }
    .review-tabs .rating-section .reiew-contaier .content-right .rating {
        min-width: 110px;
    }
    .review-tabs .rating-section .content-right .rating .star-yellow, .review-tabs .rating-section .content-right .rating .star-gray {
        font-size: 18px;
        line-height: 0;
        margin-right: 0px;
    }
    .reiew-contaier .content-right .number {
        font-size: 14px;
        margin-left: 10px;
    }
    .select-groceries .categories-list .nav .nav-item {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .cart-card .cupon-wr .apply-code {
        width: 65px;
        height: 34px;
        font-size: 14px;
    }
    .cart-card .cupon-wr .form-control {
        width: calc( 100% - 75px);
    }
    .my-order-wr .order-title {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 18px;
    }
    .addAddress_button_wr {
        text-align: left;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .addressbook-wr .address-section h1 {
        font-size: 20px;
    }
    .addAddress_button_wr .btn-add-address {
        width: 100%;
    }
    .min-max-wrapper .form-control {
        max-width: 100px;
    }
    .product-card .product-image {
        height: 100px;
    }
    .product-card .card-title {
        font-size: 10px;
        line-height: 16px;
        margin: 0px;
        padding: 0;
        margin-bottom: 3px;
        min-height: 32px;
        margin-top: 0px;
    }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 360px) {
    .container {
        max-width: 95%;
    }
    .mall-cat-wr .card .name {
        font-size: 8px;
    }
    .min-max-wrapper .form-control {
        max-width: 85px;
    }
    .new-category-section .tabs_left .nav-link {
        font-size: 10px;
        line-height: initial;
    }
    .new-category-section .cs-row-margin .sing-items .cat-image {
        height: 40px;
    }
    .slot-wrapper .slot-date {
        font-size: 14px!important;
    }
    .slot-wrapper .slotbtn.available-slot {
        margin: 5px 0;
        min-height: 38px;
        font-size: 13px;
        padding: 5px;
    }
}

@media only screen and (max-width: 318px) {
    .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group.other-login-method .signup_with_gmail {
        font-size: 16px;
        height: 42px;
    }
    .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group.other-login-method .signup_with_facebook, .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group.other-login-method .signup_with_g_plus {
        padding-left: 40px;
        background-position: 8px center;
        background-size: 23px;
        height: 50px;
        font-size: 14px;
    }
    .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group .getCode {
        height: 42px;
    }
    .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group .getCode {
        height: 42px;
        font-size: 16px;
    }
    .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group .form-control {
        height: 42px;
    }
    .my-mart-signup-wr .sinup-container .form-sign-wrapper .form-group .signup_btn {
        height: 42px;
    }
}

/* Large desktops and laptops */

@media (min-width: 1050px) and (max-width: 1400px) {}

/* Landscape tablets and medium desktops */

@media (max-width: 1100px) {}

@media (max-width: 1024px) {}

/* Portrait tablets and small desktops */

@media (max-width: 991px) {}

/* Landscape phones and portrait tablets */

@media (max-width: 767px) {}

/* Portrait phones and smaller */

@media (max-width: 480px) {}

@media (max-width: 360px) {}

@media (max-width: 767px) {
    .details-msg-wrapper {
        padding: 20px 0;
    }
    .user-image {
        width: 60px;
    }
    .content-sec {
        width: calc( 100% - 76px);
    }
    .content-sec .users_name {
        margin: 0;
        font-size: 18px;
    }
    .content-sec .time {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .content-sec .message-text {
        font-size: 14px;
    }
    .left-content .texts {
        font-size: 18px;
    }
    .message-header {
        padding: 16px;
    }
    .left-content .last-view {
        font-size: 14px;
    }
    .message-header .store-image {
        width: 30px;
    }
    .message-header .back-arrow {
        width: 24px;
    }
    .chat-bot .receiver-image {
        height: 45px;
        width: 45px;
    }
    .chat-bot .receiver .receiver-content {
        width: calc( 100% - 60px);
        margin-left: 15px;
        font-size: 14px;
        padding: 12px;
        background: #efefef;
    }
    .chat-bot .receiver {
        margin-bottom: 10px;
    }
    .msg_sender .sender-content {
        width: calc( 100% - 60px);
        margin-right: 15px;
        font-size: 14px;
        padding: 12px;
    }
    .details-msg-wrapper .msg-footer {
        padding: 14px;
    }
    .msg-footer .add-button {
        width: 35px;
        height: 35px;
        margin-right: 0;
    }
    .msg-footer .input-msg {
        padding: 5px 10px;
        font-size: 16px;
    }
    .msg-footer .send-message {
        margin-left: 0;
        width: 30px;
        height: 30px;
        padding: 0;
    }
    .msg-footer .send-message img {
        width: 100%;
        height: 100%;
    }
}