/* RESPONSIVE */

/* IPAD PRO */

@media (min-width: 992px) and (max-width: 1199px) {
    .top-header-right-bar .favorite-icon, .top-header-right-bar .smallview {
        margin-right: 10px;
    }
    .top-header-right-bar .smallview .nav-link.cart .cart-text {
        font-size: 14px;
    }
    .login-signup {
        width: 150px;
    }
    .address-bar .search-location input.form-control {
        width: 150px;
    }
    .category-dropdown-change .navbar-light .navbar-brand {
        font-size: 14px;
    }
    .login-signup .navbar-nav .signup .nav-link {
        font-size: 12px;
    }
    .electronic-box p {
        white-space: pre;
    }
    .home-electronic ul .electronic-box {
        padding-right: 5px;
        margin-right: 12px;
        width: max-content;
    }
    .home-electronic ul {
        overflow: auto;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 40px;
    }
    .populer-category-main {
        display: grid;
        grid-template-columns: 155px 155px 155px 155px 155px 155px 155px 155px;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 10px 0;
    }
    .header-section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-section {
        padding: 0 10px;
    }
}

/* IPAD */

@media (min-width: 768px) and (max-width: 991px) {
    .brand-item {
        width: 75%;
    }
    .home-page {
        margin-top: 70px;
    }
    .header-section {
        padding: 0;
    }
    .mall-cat-wr .card {
        padding: 0 5px;
    }
    .electronic-box p {
        white-space: nowrap;
        padding-right: 15px;
    }
    .home-electronic ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        overflow: auto;
        padding-bottom: 20px;
    }
    .react-multiple-carousel__arrow, .banner-slider .carousel.carousel-slider .control-arrow {
        height: 35px;
        width: 35px;
    }
    .desktop-header {
        display: none !important;
    }
    .mobile-notification-bar {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .message-icon {
        position: relative;
        display: inline-block;
        margin-right: 20px;
    }
    .message-icon span {
        background-image: linear-gradient(to bottom, #04befe, #00b0fd, #00a1f9, #2792f4, #4481eb);
        color: #fff;
        height: 16px;
        width: 16px;
        border-radius: 40px;
        line-height: 1;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -7px;
        top: -5px;
    }
    .smallview a.nav-link.cart {
        padding: 0;
        position: relative;
    }
    .smallview .cart-text .item-count {
        background-image: linear-gradient(to bottom, #04befe, #00b0fd, #00a1f9, #2792f4, #4481eb);
        color: #fff;
        height: 16px;
        width: 16px;
        border-radius: 40px;
        line-height: 1;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -7px;
        top: -5px;
    }
    .address-bar .search-location input.form-control {
        font-size: 10px;
    }
    .mobilr-search input.form-control {
        background: url(../images/mobile-search-icon.svg) no-repeat 14px;
        height: 40px;
        padding-left: 40px;
        background-size: 18px;
        background-color: #f2f2f2;
        border: none;
        font-family: "Poppins-Reg";
        color: #C0C0C0;
        border-radius: 0;
        line-height: 40px !important;
    }
    .mobilr-search input.form-control::placeholder {
        color: #C0C0C0;
        font-size: 12px;
        line-height: 1;
    }
    .header-mobile {
        display: grid;
        grid-template-columns: 35px auto 115px;
        grid-column-gap: 4%;
        padding: 14px 10px;
        align-items: center;
        position: fixed;
        top: 0;
        background-color: #fff;
        z-index: 999;
        left: 0;
        width: 100%;
    }
    .new-mobile-menu .navbar {
        padding: 0;
    }
    .new-mobile-menu .new-header {
        justify-content: center;
    }
    .new-mobile-menu .new-header a.mobile-menuicon {
        margin: 0;
        padding: 0;
        line-height: 1;
    }
    .sticky-footer .nav-pills .nav-link {
        display: block;
        padding: 8px 0 !important;
        border-radius: 8px;
        text-align: center;
    }
    .sticky-footer ul.nav {
        align-items: center;
    }
    .sticky-footer .nav-pills .nav-link.active span {
        color: #EE9623;
    }
    .sticky-footer .nav-pills .nav-link.active {
        background-color: #ee962345;
        color: #EE9623;
    }
    .sticky-footer .nav-pills .nav-link img {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .home_nav {
        display: none;
    }
    .category-dropdown-change .mobile-menuicon {
        display: block !important;
    }
    section.header-section::before {
        display: none;
    }
    .footer-section {
        display: none;
    }
    .sticky-footer {
        position: fixed;
        bottom: 0px;
        z-index: 99;
        background: #fbfbfb;
        padding: 8px 4px 4px;
        width: 100%;
        box-shadow: 0px 0px 6px #ddd;
    }
    .sticky-footer {
        display: block;
    }
    .populer-category-main {
        display: grid;
        grid-template-columns: 130px 130px 130px 130px 130px 130px 130px 130px;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 10px 0;
    }
    .choosen-product .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .sticky-footer .nav-pills .nav-link span {
        display: block;
        color: #000;
        font-size: 14px;
        margin-top: 5px;
        line-height: 1;
    }
    .banner-see-all-btn {
        bottom: 17%;
    }
    .banner-see-all-btn a {
        padding: 1px 7px;
        font-size: 12px;
    }
    .product-card .priceTag, .rating-ltr ul li.ratting .sold, .rating-ltr ul li.ratting span.rating p, .rating-ltr ul li.liter span.liter-true {
        font-size: 10px;
    }
    .product-card .card-title, .product-cart-title .description {
        font-size: 12px;
    }
    .product-card .product-image {
        height: auto;
    }
    .rating-ltr ul li.ratting .sold:before{
        top: 4px;
    }
    .rating-ltr ul li.liter span.liter-true {
        margin-left: 0
    }

    .greenmart-content .img-text span {
        font-size: 9px;
    }
    .price-with-fav {
        top: 165px;
    }
    section.home-category-sec {
        padding-bottom: 20px;
        margin-top: 8px;
    }
    .offer-price .qar-main {
        display: block;
    }   
    .product-card .offer_margin {
        margin-left: 0;
        font-size: 12px;
    }
    .offer-price .singapore-text {
        font-size: 12px;
    }
    .choosen-product {
        margin-bottom: 50px;
    }
    .product-container .row {
        margin-right: 0px;
        margin-left: 0;
    }
    .home-product-slider .react-multiple-carousel__arrow--left::before{
        padding-right: 0;
    }
    .home-product-slider .react-multiple-carousel__arrow--right::before{
        padding-left: 0;
    }
    .grocery-banner-bottom .grocery-banner-bottom-btn{
        justify-content: space-between;
    }
    .grocery-banner-bottom .grocery-banner-bottom-btn li button.btn{
        font-size: 10px;
    }
    .grocery-banner-bottom p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .grocery-banner-bottom {
        padding: 10px;
    }
    .grocery-page .banner-slider ul.slider li.slide img.banner-image{
        border-radius: 0;
    }
    .grocery-banner{
        display: block;
    }
    .new-bg .grocery-page .banner {
        padding-top: 45px;
        padding-left: 0;
        padding-right: 0;
        background-color: #ee96232e;
        background-image: none;
    }
    .grocery-banner-sidebar{
        display: none;
    }
    .location-for-mobile {
        display: block;
        position: absolute;
        left: 20px;
        bottom: -103px;
        width: 97%;
    }
    .location-for-mobile .language-lacation {
        justify-content: space-between;
    }
    #google_translate_element{
        display: none;
    }
    .address-bar .search-location input.form-control {
        background-color: transparent;
        font-size: 10px;
    }
    .home-page .banner{
        padding-top: 35px;
    }
    .grocery-banner-bottom .grocery-banner-bottom-btn li:hover .grocery-banner-bottom-btn-tooltip{
        display: none;
    }
    .grocery-bg-for-mobile-populer .populer-category-sec .title_section {
        display: none;
    }
    .grocery-page .grocery-bg-for-mobile-populer {
        margin-top: 0;
        padding-top: 0;
    }
    .grocery-bg-for-mobile-populer .populer-category-sec .populer-category-main {
        padding-top: 3px;
    }
}

/* MOBILE */

@media (max-width: 767px) {

    .grocery-bg-for-mobile-populer .populer-category-sec .title_section {
        display: none;
    }
    .grocery-page .grocery-bg-for-mobile-populer {
        margin-top: 0;
        padding-top: 0;
    }
    .grocery-bg-for-mobile-populer .populer-category-sec .populer-category-main {
        padding-top: 3px;
    }
    .grocery-banner-bottom .grocery-banner-bottom-btn li:hover .grocery-banner-bottom-btn-tooltip{
        display: none;
    }
    .home-product-slider .react-multiple-carousel__arrow--left::before{
        padding-right: 0;
    }
    .home-product-slider .react-multiple-carousel__arrow--right::before{
        padding-left: 0;
    }
    .grocery-banner-bottom .grocery-banner-bottom-btn{
        justify-content: space-between;
    }
    .grocery-banner-bottom .grocery-banner-bottom-btn li button.btn{
        font-size: 10px;
    }
    .grocery-banner-bottom p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .grocery-banner-bottom {
        display: block;
        padding: 10px;
    }
    .grocery-page .banner-slider ul.slider li.slide img.banner-image{
        border-radius: 0;
    }
    .grocery-banner{
        display: block;
    }
    .grocery-page .banner {
        padding-top: 45px;
        padding-left: 0;
        padding-right: 0;
        background-color: #ee96232e;
        background-image: none;
    }
    .grocery-banner-sidebar{
        display: none;
    }
    .home-product-img-modal-main .carousel .thumbs-wrapper .control-next{
        right: 0%;
    }
    .home-product-img-modal-main .carousel .thumbs-wrapper .control-prev{
        left: 0%;
    }
    .home-product-img-modal-main .carousel .thumbs-wrapper{
        width: 85%;
    }
    .product-card .favorite_button img{
        height: 16px;
        width: 16px; 
    }
    section.new_tranding.highlight-product-sec {
        padding: 10px 10px 20px;
    }
    .sticky-footer {
        position: fixed;
        bottom: 0px;
        z-index: 99;
        background: #fbfbfb;
        padding: 8px 4px 4px;
        width: 100%;
        box-shadow: 0px 0px 6px #ddd;
    }
    .sticky-footer {
        display: block;
    }
    .desktop-header {
        display: none !important;
    }
    .mobile-notification-bar {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .message-icon {
        position: relative;
        display: inline-block;
        margin-right: 20px;
    }
    .message-icon span {
        background-image: linear-gradient(to bottom, #04befe, #00b0fd, #00a1f9, #2792f4, #4481eb);
        color: #fff;
        height: 16px;
        width: 16px;
        border-radius: 40px;
        line-height: 1;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -7px;
        top: -5px;
    }
    .smallview a.nav-link.cart {
        padding: 0;
        position: relative;
    }
    .smallview .cart-text .item-count {
        background-image: linear-gradient(to bottom, #04befe, #00b0fd, #00a1f9, #2792f4, #4481eb);
        color: #fff;
        height: 16px;
        width: 16px;
        border-radius: 40px;
        line-height: 1;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -7px;
        top: -5px;
    }
    .mobilr-search input.form-control {
        background: url(../images/mobile-search-icon.svg) no-repeat 14px;
        height: 40px;
        padding-left: 40px;
        background-size: 18px;
        background-color: #f2f2f2;
        border: none;
        font-family: "Poppins-Reg";
        color: #C0C0C0;
        border-radius: 5px;
        line-height: 40px !important;
    }
    .mobilr-search input.form-control::placeholder {
        color: #C0C0C0;
        font-size: 10px;
        line-height: 1;
    }
    .header-mobile {
        display: grid;
        grid-template-columns: 50px auto 130px;
        grid-column-gap: 4%;
        padding: 14px 10px;
        align-items: center;
        position: fixed;
        top: 0;
        background-color: #fff;
        z-index: 999;
        width: 100%;
        left: 0;
    }
    .new-mobile-menu .navbar {
        padding: 0;
    }
    .new-mobile-menu .new-header {
        justify-content: center;
    }
    .new-mobile-menu .new-header a.mobile-menuicon {
        margin: 0;
        padding: 0;
        line-height: 1;
    }
    .sticky-footer .nav-pills .nav-link {
        display: block;
        padding: 8px 0 !important;
        border-radius: 8px;
        text-align: center;
    }
    .sticky-footer ul.nav {
        align-items: center;
    }
    .sticky-footer .nav-pills .nav-link.active span {
        color: #EE9623;
        font-weight: 600;
    }
    .sticky-footer .nav-pills .nav-link.active {
        background-color: #ee962345;
        color: #EE9623;
    }
    .sticky-footer .nav-pills .nav-link img {
        /* margin-right: 6px; */
    }
    .home-electronic {
        display: none;
    }
    .home-category-box p {
        font-size: 10px;
    }
    .home-category-box .home-category-box-img img {
        width: 65%;
        margin: 0 auto;
    }
    .home-category-box .home-category-box-img {
        height: 45px;
    }
    section.home-category-sec {
        padding: 20px 0 15px;
        margin-top: 0;
        background-color: #fff;
    }
    .banner-slider .control-arrow {
        display: none !important;
    }
    .banner-slider .slider li.slide {
        padding: 0;
    }
    section.banner {
        margin-top: -30px;
        padding-top: 45px;
        background-image: url(../images/banner-bg-mobile.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100%;
        background-color: #fff;
        margin-left: -12px;
        margin-right: -12px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .bg-for-mobile {
        background-color: #fff;
        margin: 0 -12px;
    }
    .home-category-sec .react-multi-carousel-track li:nth-child(3) .home-category-box-img img {
        width: 40%;
    }
    section.header-section {
        position: relative;
        padding: 0;
    }
    .header-section:before {
        display: none;
    }
    .location-for-mobile {
        display: block;
        position: absolute;
        left: 20px;
        bottom: -33px;
        width: 92%;
    }
    .location-for-mobile .sl-nav li {
        padding-right: 10px;
    }
    .location-for-mobile .language-lacation {
        justify-content: space-between;
    }
    .banner-slider ul.slider li.slide.selected {
        transform: initial;
    }
    .banner-slider ul.slider li.slide img.banner-image {
        height: 138px;
        border-radius: 10px;
        position: relative;
    }
    .banner-slider ul.slider li.slide.selected img.banner-image {
        position: relative;
        z-index: 1;
    }
    .banner-see-all-btn {
        z-index: 2;
    }
    .address-bar .search-location input.form-control {
        background-color: transparent;
        font-size: 10px;
    }
    .address-bar .search-location img {
        margin-right: 10px;
        height: 14px;
        width: 13px;
    }
    .banner-slider .carousel .control-dots {
        display: none;
    }
    .banner-see-all-btn a {
        padding: 1px 8px;
        font-size: 10px;
    }
    .react-multiple-carousel__arrow {
        height: 20px;
        width: 20px;
    }
    .body-block {
        background-color: #F4F4F4;
        margin: 100px 0;
        padding: 0;
        padding-bottom: 70px;
    }
    .new-bg {
        background-color: #F4F4F4;
    }
    .new-bg .home-page {
        background-color: #F4F4F4;
    }
    .home-page {
        margin-bottom: 20px;
        margin-top: 70px;
    }
    section.new_tranding {
        padding: 10px 0;
    }
    .new_tranding .title_section h2 {
        font-size: 12px;
    }
    .new_tranding .title_section p {
        font-size: 10px;
    }
    .new_tranding .title_section .view-all {
        font-size: 12px;
    }
    .new_tranding .title_section {
        padding-left: 8px;
    }
    .product-card {
        border: solid 1px #eee;
        border-radius: 10px;
    }
    .product-cart-title .description {
        font-size: 9px;
        margin-bottom: 1px;
    }
    .price-with-fav {
        top: 108px;
    }
    .product-card .offer_quote {
        font-size: 10px;
    }
    .product-card .favorite_button {
        border-radius: 20px;
        width: 16px;
        height: 16px;
    }
    .product-card .offer_quote {
        background-color: #F9004B;
    }
    .choosen-product .no-qty .offer_quote, .new_tranding .no-qty .offer_quote {
        top: -65px !important;
        position: relative;
    }
    .rating-ltr ul li.liter {
        order: 1;
        line-height: 1;
        margin-bottom: 5px;
    }
    .rating-ltr ul li.ratting .sold, .rating-ltr ul li.ratting span.rating p {
        font-weight: 500;
        font-size: 9px;
    }
    .rating-ltr ul li.ratting span.rating i {
        font-size: 9px;
    }
    .rating-ltr ul li.ratting .sold:before {
        top: 3px;
    }
    .greenmart-content {
        margin: 5px 0;
    }
    .reduce-padding.only-cat-view .product-card .mt-cutoff, .greenmart-content .img-text span {
        font-size: 8px;
    }
    .product-card .priceTag {
        font-size: 12px;
        font-weight: 500;
    }
    .product-card .offer_margin {
        display: none;
    }
    .react-multi-carousel-track {
        padding: 10px 0 0;
    }
    .populer-category-sec {
        padding-top: 0 !important;
    }
    .populer-category-sec .title_section {
        border-bottom: solid 1px #E0E0E0;
    }
    .brand-item img {
        width: 70%;
        margin: 0 auto;
    }
    .highlight-product-sec .populer-barand-slider {
        margin-left: 0px;
        margin-right: -10px;
    }
    .populer-brand .title_section {
        padding-bottom: 0;
    }
    .highlight-box {
        height: 100px;
        border-radius: 20px;
    }
    .highlight-content p {
        font-size: 12px;
    }
    .highlight-content h2 {
        font-size: 14px;
        margin-top: 5px;
    }
    .shop-btn a {
        font-size: 12px;
        font-weight: 500;
    }
    .choosen-product .col-md-3 {
        width: 50%;
    }
    .category-dropdown-change .mobile-menuicon {
        display: block !important;
    }
    .home_nav {
        display: none;
    }
    .offer-price .singapore-text {
        font-size: 8px;
    }
    .category-title h2 {
        font-size: 11px;
    }
    .all-tabs .react-tabs__tab-panel h2 {
        display: none;
    }
    .category-tabs-section .react-tabs__tab-list li img {
        max-width: 35px;
        height: inherit;
    }
    .category-tabs-section .react-tabs__tab-list li span {
        font-size: 10px;
    }
    .category-tabs-section .react-tabs__tab-list .react-tabs__tab--selected:after {
        width: 3px;
    }
    .all-tabs .accordion__button {
        font-size: 12px;
    }
    .all-tabs .accordion .accordion__panel {
        padding: 10px 0;
    }
    .tabs-inner-item ul li {
        width: inherit;
        padding: 5px;
    }
    .tabs-inner-item ul li img {
        height: 70px;
    }
    .tabs-inner-item ul li span {
        font-size: 10px;
    }
    .all-tabs {
        padding: 0px 0px 0 10px;
    }
    .populer-category-main {
        display: grid;
        grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 10px 0;
    }
    .sticky-footer .nav-pills .nav-link span {
        display: block;
        color: #000;
        font-size: 10px;
        margin-top: 5px;
    }
    .for-desktop {
        display: none;
    }
    .for-mobile {
        display: block;
    }
    .mymart-qatar-app-bg {
        background-image: url(../images/mobile-app-stor-bg.png);
        background-size: cover;
        padding: 25px 10px;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        box-shadow: 0px 0px 6px #ddd;
        border-radius: 10px;
    }
    .mymart-qatar-content h2 {
        font-size: 12px;
        font-weight: 500;
        color: #000;
    }
    .play-store-img a {
        max-width: 55px;
        display: block;
    }
    .play-store-img {
        display: flex;
        margin-top: 5px;
    }
    .mymart-qatar-content .play-store-img a:first-child {
        margin-right: 5px;
    }
    section.mymart-qatar-app {
        padding: 8px 0 8px;
    }
    .bg-for-mobile-populer {
        background-color: #fff;
        padding-bottom: 15px;
        padding-top: 10px;
        margin-top: 10px;
        margin-left: -12px;
        margin-right: -12px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .product-card .home-product-slider .react-multi-carousel-track li.react-multi-carousel-item {
        text-align: center;
        padding-right: 0 !important;
    }
    .product-card .home-product-slider .react-multi-carousel-track li.react-multi-carousel-item img {
        object-fit: cover;
        height: 120px;
        margin: 0 auto;
        text-align: center;
        border-radius: 10px 10px 0px 0px;
    }
    .rating-ltr ul li.liter span {
        font-size: 8px;
        margin-left: 0;
    }
    .product-card .iner-container {
        min-height: 172px;
    }
    .choosen-product .product-card .product-image {
        height: 135px;
    }
    .populer-barand-slider {
        padding: 0;
    }
    .all-tabs .accordion__button:hover {
        background-color: #fff;
    }
    .category-tabs-section .container {
        padding-left: 0;
        padding-right: 0;
    }
    /* .category-tabs-section .react-tabs {
        height: inherit;
        overflow-x: inherit;
        overflow-y: inherit;
    } */
    .category-tabs-section .container .row {
        margin-left: 0;
        margin-right: 0;
    }
    .category-tabs-section .left-tabs {
        padding-left: 0;
    }
    .category-tabs-section .right-tabs {
        padding-right: 0;
    }
    .rating-ltr ul {
        display: grid;
    }
    .rating-ltr ul li.ratting {
        order: 2;
    }
    .accordion__button:before {
        height: 7px !important;
        width: 7px !important;
        border-bottom: 1px solid currentColor !important;
        border-right: 1px solid currentColor !important;
    }
    .all-tabs .accordion__button img {
        margin-right: 8px;
    }
    .main-up-arrow a {
        bottom: 96px;
        border-radius: 10px;
        box-shadow: 0px 2px 6px #7d7d7d;
    }
    .category-page-main {
        padding: 0;
        margin-top: -32px !important;
    }
    .category-tabs-section .right-tabs, .category-tabs-section .react-tabs .left-tabs {
        height: 92vh;
        background-color: #fff;
    }
    .tabs-inner-item ul {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .all-footer {
        padding-bottom: 0px;
    }
    .home-product-slider .react-multiple-carousel__arrow--left, .home-product-slider .react-multiple-carousel__arrow--right {
        height: 35px;
        min-width: 20px !important;
        width: 20px;
    }
    .all-tabs a.no-subcategory-accordion {
        font-size: 12px;
    }
}

@media (max-width: 627px) {}

@media (min-width: 481px) and (max-width: 626px) {}

@media (max-width: 480px) {}

@media (max-width: 375px) {
    .product-card .iner-container {
        min-height: 185px;
    }
}

@media (max-width: 360px) {
    .mymart-qatar-app-bg {
        padding: 15px 10px;
    }
    .mymart-qatar-content h2 {
        font-size: 10px;
    }
    .play-store-img {
        margin-top: 0;
    }
    .play-store-img a {
        max-width: 50px;
    }
    .location-for-mobile {
        left: 28px;
        width: 85%;
    }
    .home-load-more-btn a {
        font-size: 12px;
        padding: 7px 15px;
    }
    .product-card .iner-container {
        min-height: 190px;
    }
    .progress-text p{
        font-size: 10px;
    }
    .grocery-banner-bottom p{
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    .mymart-qatar-app-bg {
        padding: 15px 10px;
    }
    .mymart-qatar-content h2 {
        font-size: 10px;
    }
    .play-store-img {
        margin-top: 0;
    }
    .play-store-img a {
        max-width: 50px;
    }
    .location-for-mobile {
        left: 28px;
        width: 85%;
    }
    .product-card .iner-container {
        min-height: 230px;
    }
    .progress-text p{
        font-size: 9px;
    }
    .progress-text span{
        font-size: 8px;
    }
    .grocery-banner-bottom p{
        font-size: 10px;
    }

}

@media (min-width: 1200px) and (max-width: 2500px) {
    .choosen-product .col-md-3 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}