.address-view-block{ background: #fff; border: 1px solid #E0E0E0; padding: 30px; box-sizing: border-box;} 
.slot-main{ position: relative;}
.slot-main .arrow{ width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;     position: absolute;
    top: 50%;
    border: 1px solid #ddd;
    display: inline-flex;
    align-items: center;
    justify-content: center; }
.slot-main .prev{ left: -25px;}
.slot-main .next{ right: -25px;}
.slot-wrapper .slot-date{ text-align: center; width: 100%;
    font-family: 'PoppinsSemibold'; font-size: 18px; color: #4c4848;
    text-transform: capitalize; margin-bottom: 15px;
    background: #ffe4bf;
    padding: 10px; border-radius: 4px;}
 .slotbtn{ width:  100% ;
    margin-bottom: 10px; display: flex; justify-content: space-between;
 align-items: center; background: transparent; min-height: 45px; font-family: 'Poppins-Reg'; color: #bdbcbc;}
 .slot-wrapper .slotbtn:focus{ box-shadow: none;}
.slot-wrapper .slotbtn .fill-fast p{ color: #01dc01; line-height: 14px;
   font-family: 'RobotoMedium'; font-size: 14px;}
.slot-wrapper .slotbtn .fill-fast .grey-text{
   font-family: 'PoppinsRegular'; line-height: 14px; font-size: 12px; display: block;
   color: #adabab;
} 

.slot-wrapper .slotbtn .fill-fast .grey-text i{ color: #ff0000; font-size: 15px; }
.slot-wrapper .slotbtn.available-slot{ border: 1px solid #a7a7a7; color: #424040;}
.slot-wrapper .slotbtn.booked-slot{ border: 1px solid #ef971c;  color: #ef971c;}

.slot-wrapper{ width: 33%; display: inline-flex; flex-wrap: wrap; }